Repository valor-software/ngx-bootstrap, pull requests merged in 2018-12, with the labels that each got.

#4838 feat(tests): add 2 test scopes and examples
  .travis.yml
  cypress.json
  cypress/full/carousel_page_spec.ts
  cypress/integration/carousel_page_spec.ts
  cypress/support/base.component.ts
  cypress/support/carousel.po.ts
  cypress/support/interfaces.ts
  cypress/tsconfig.json
  package.json
Labels: comp(carousel), enhancement, needs review

#4847 feat(tests): add full coverage for Collapse component demo
  cypress/full/collapse_page_spec.ts
  cypress/integration/collapse_page_spec.ts
  cypress/support/collapse.po.ts
  docs/spec/collapse/collapse.examples.accessibility.use-case.md
  docs/spec/collapse/collapse.examples.inline-display.use-case.md
Labels: comp(collapse), enhancement, needs review

#3354 feat(datepicker) : min mode, sets a lower limit for view mode (day, month, year)
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.html
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/engine/view-mode.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/spec/bs-datepicker/bs-datepicker.reducer.spec.ts
Labels: comp(datepicker), needs fix, needs review

#4882 fix(ci): update dep on npm-run-all to fix link to event-stream 3.3.6
  .travis.yml
  package-lock.json
  package.json
Labels: comp(build), needs review, prio: urgent

#4883 feat(ci): speed up travis builds
  .travis.yml
  package-lock.json
  package.json
  schematics/src/ng-add/index.spec.ts
  scripts/ci/npm-ng-latest.sh
Labels: comp(build), enhancement, needs review

#4886 feat(tests): add possibility to run e2e tests for different bs versions
  cypress/plugins/index.js
  cypress/support/base.component.ts
Labels: enhancement, needs review

#4885 fix(tests): remove check for ng-reflect-model, reconfigure travis for…
  .travis.yml
  cypress/full/carousel_page_spec.ts
Labels: enhancement, needs review

#4501 fix(datepicker): select correct month and year from month picker view…
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
Labels: comp(datepicker), ready for merge

#4870 feat(demo): opportunity to change bs theme by url query
  demo/src/app/common/sidebar/sidebar.component.ts
Labels: needs review, ready for merge

#4609 fix(dropdown): fix dropdown inside click
  demo/src/app/components/+dropdown/demos/index.ts
  demo/src/app/components/+dropdown/demos/inside-click/inside-click.html
  demo/src/app/components/+dropdown/demos/inside-click/inside-click.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
  src/dropdown/bs-dropdown-container.component.ts
  src/dropdown/bs-dropdown-toggle.directive.ts
  src/dropdown/bs-dropdown.directive.ts
  src/spec/accordion.component.spec.ts
  src/spec/bs-dropdown-container.component.spec.ts
  src/spec/bs-dropdown.directive.spec.ts
Labels: comp(dropdown), needs review

#4869 feat(common): add strict mode support
  demo/src/app/common/add-nav/add-nav.component.ts
  demo/src/app/components/+carousel/demos/dynamic/dynamic.ts
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  demo/src/app/components/+datepicker/demos/datepicker-demo.component.ts
  demo/src/app/components/+modal/demos/service-nested/service-nested.ts
  demo/src/app/components/+rating/demos/dynamic/dynamic.ts
  demo/src/app/components/+timepicker/demos/custom-validation/custom-validation.ts
  demo/src/app/components/+timepicker/demos/dynamic/dynamic.ts
  demo/src/app/docs/api-docs/api-doc/api-doc.component.ts
  demo/src/app/theme/style-manager.ts
  demo/src/app/theme/theme-storage.ts
  scripts/ci/npm-ng-latest.sh
  src/pagination/models/index.ts
  src/rating/rating.component.ts
  src/typeahead/typeahead.directive.ts
  src/utils/facade/browser.ts
  tsconfig.json
Labels: ready for merge, ready for review

#4874 feat(datepicker): add min mode
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/change-locale/change-locale.ts
  demo/src/app/components/+datepicker/demos/config-method/config-method.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.html
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/engine/view-mode.ts
  src/datepicker/public_api.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/spec/bs-datepicker/bs-datepicker.reducer.spec.ts
Labels: needs review, ready for merge

#4771 demo(datepicker): fix date's displaying in reactive form section
  cypress/integration/datepicker_page_spec.ts
  demo/src/app/components/+datepicker/demos/reactive-forms/reactive-forms.component.html
Labels: comp(demo), ready for merge, ready for review

#4892 fix(schematics): fix component option
  schematics/src/ng-add/index.spec.ts
  schematics/src/ng-add/index.ts
Labels: comp(schematics), ready for tests

#4895 fix(tests): datepicker smoke test for reactive form
  cypress/integration/datepicker_page_spec.ts
Labels: comp(datepicker), enhancement, needs review

#4891 fix(datepicker): fix responsive on Date Range Picker (#4127)
  src/datepicker/bs-datepicker.scss
  src/datepicker/themes/bs/bs-datepicker-view.html
Labels: comp(datepicker), ready for merge

#4864 refactor(i18n): remove unused imports
  src/chronos/i18n/lt.ts
Labels: ready for merge

#4828 feat(datepicker): allow to select dates from other months
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/select-dates-from-other-months/select-dates-from-other-months.html
  demo/src/app/components/+datepicker/demos/select-dates-from-other-months/select-dates-from-other-months.ts
  demo/src/ng-api-doc.ts
  src/chronos/i18n/pl.ts
  src/chronos/test/locale/pl.spec.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.scss
  src/datepicker/models/index.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-datepicker-day-decorator.directive.ts
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
  src/datepicker/themes/bs/bs-days-calendar-view.component.ts
Labels: comp(datepicker), ready for merge

#4896 fix(travis): update deployed instance for correct testing
  .travis.yml
  src/chronos/test/locale/da.spec.ts
Labels: enhancement, ready for merge

#4491 feat(datepicker): Making it possible to disable certain days in the DatePicker
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/disable-days/disable-days.html
  demo/src/app/components/+datepicker/demos/disable-days/disable-days.ts
  demo/src/app/components/+datepicker/demos/index.ts
  src/chronos/public_api.ts
  src/chronos/utils/date-compare.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/engine/flag-days-calendar.ts
  src/datepicker/reducer/bs-datepicker.actions.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
Labels: comp(datepicker), ready for merge

#4811 feat(modal): add method to change modal window class
  demo/src/app/components/+modal/demos/index.ts
  demo/src/app/components/+modal/demos/service-options/change-class/change-class.html
  demo/src/app/components/+modal/demos/service-options/change-class/change-class.ts
  demo/src/app/components/+modal/modal-section.list.ts
  src/modal/bs-modal-ref.service.ts
  src/modal/bs-modal.service.ts
  src/spec/modal-backdrop.component.spec.ts
Labels: comp(modal), ready for merge

#4898 feat(dropdown): add insideClick property to config
  src/dropdown/bs-dropdown-toggle.directive.ts
  src/dropdown/bs-dropdown.config.ts
  src/dropdown/bs-dropdown.directive.ts
  src/dropdown/bs-dropdown.module.ts
  src/dropdown/bs-dropdown.state.ts
  src/spec/bs-dropdown.directive.spec.ts
Labels: comp(dropdown), ready for merge

#4905 fix(datepicker): cursor fixes for disabled dates & weeks in datepicker
  src/datepicker/bs-datepicker.scss
Labels: comp(datepicker), ready for merge

#4908 feat(tests): add support for cypress dashboard for debugging
  .travis.yml
  cypress.json
Labels: enhancement, needs review

#4911 fix(tooltip): tooltipEnable inconsistent value
  src/tooltip/tooltip.directive.ts
Labels: comp(tooltip), ready for merge

#4906 Use isObservable from rxjs to check if typeahead property is in fact an Observable
  src/typeahead/typeahead.directive.ts
Labels: enhancement, ready for merge

#4912 feat(doc): reverse of docs list
  demo/src/app/common/top-menu/top-menu.component.ts
Labels: enhancement, needs review, ready for merge

#4924 feat(tests): add full e2e coverage for Progressbar component
  cypress/full/progressbar_page_spec.ts
  cypress/support/progressbar.po.ts
Labels: comp(progressbar), enhancement, needs review

#4919 feat(tests): cypress update
  cypress.json
  package-lock.json
  package.json
Labels: enhancement, needs review

#4096 docs(tooltip): add aria attributes to tooltip demo component
  src/tooltip/tooltip-container.component.ts
  src/tooltip/tooltip.directive.ts
Labels: comp(tooltip), ready for merge

#4626 fix(dropdown): fix bottom position for dropdownlist
  src/dropdown/bs-dropdown.directive.ts
  src/spec/bs-dropdown.directive.spec.ts
Labels: comp(dropdown), ready for merge

#4062 feat(datepicker) add custom today class for current date via config
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/custom-today-class/custom-today-class.component.html
  demo/src/app/components/+datepicker/demos/custom-today-class/custom-today-class.component.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/engine/flag-days-calendar.ts
  src/datepicker/models/index.ts
  src/datepicker/themes/bs/bs-datepicker-day-decorator.directive.ts
  src/datepicker/themes/bs/bs-datepicker-day-decorator.spec.ts
Labels: comp(datepicker), feat-request, prio: medium, ready for merge

#4769 fix(timepicker): demo enhancement to custom meridian example
  demo/src/app/components/+timepicker/demos/custom-meridian/custom-meridian.ts
Labels: comp(timepicker), ready for merge

#4850 fix(popover/tooltip): use translate for relative offset positioning for tooltip and popover arrows
  src/popover/popover-container.component.ts
  src/tooltip/tooltip-container.component.ts
Labels: comp(popover), comp(tooltip), ready for tests

#4863 refactor(date-picker): remove redundant code
  src/datepicker/bs-daterangepicker-input.directive.ts
Labels: comp(datepicker), ready for merge

#3966 feat(datepicker): esc can close datepicker
  src/component-loader/component-loader.class.ts
  src/component-loader/listen-options.model.ts
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/utils/public_api.ts
  src/utils/triggers.ts
Labels: comp(datepicker), needs: tests, prio: low, ready for merge

#4941 refactor(datepicker): remove 'unstable' warning
  src/datepicker/bs-datepicker.module.ts
Labels: comp(datepicker), ready for merge

#4939 fix(datepicker): remove important properties for styles
  src/datepicker/bs-datepicker.scss
Labels: comp(datepicker), ready for merge

#4662 fix(demo): The typeaheadAsync property was missing
  demo/src/app/components/+typeahead/demos/async/async.html
Labels: comp(typeahead), ready for merge

#4967 fix(datepicker): remove min-max logic from formats demo
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.html
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.ts
Labels: comp(datepicker), enhancement, needs review

#4972 feat(demo): update landing page
  README.md
  cypress/integration/landing_page_spec.ts
  cypress/support/landing.po.ts
  demo/src/app/common/getting-started/getting-started.component.html
  demo/src/app/common/landing/landing.component.html
  demo/src/app/common/landing/landing.component.ts
  demo/src/app/common/top-menu/top-menu.component.html
  demo/src/assets/css/style.scss
Labels: needs review

#4957 fix(typeahead): fix typeahead's breaking if typeahead property receives NULL
  src/spec/typeahead.directive.spec.ts
  src/typeahead/typeahead.directive.ts
Labels: needs review

#4981 feat(demo): update landing page
  .github/ISSUE_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  cypress/integration/landing_page_spec.ts
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/common/documentation/documentation.component.html
  demo/src/app/common/documentation/documentation.component.ts
  demo/src/app/common/landing/landing.component.html
  demo/src/app/common/landing/landing.component.ts
  scripts/universal/static.paths.ts
Labels: needs review

#4563 fix(timepicker): enable_disable timepicker in reactive forms
  demo/src/app/components/+timepicker/demos/form/form.html
  demo/src/app/components/+timepicker/demos/form/form.ts
  demo/src/app/components/+timepicker/demos/index.ts
  demo/src/app/components/+timepicker/timepicker-section.list.ts
  demo/src/assets/json/current-version.json
  src/timepicker/timepicker.component.ts
Labels: comp(timepicker), needs review, ready for merge
