Repository valor-software/ngx-bootstrap, pull requests merged in 2018-10, with the labels that each got.

#4509 fix(datepicker): Fix navigation alignment with preserveWhitespaces: false
  demo/src/main.ts
  demo/src/tsconfig.json
  src/datepicker/themes/bs/bs-datepicker-navigation-view.component.ts
Labels: comp(datepicker), ready for merge

#4680 feat(docs): add use-cases for alerts
  docs/spec/alerts/alerts.examples.add-content.use-case.md
  docs/spec/alerts/alerts.examples.basic.use-case.md
  docs/spec/alerts/alerts.examples.comp-styling.use-case.md
  docs/spec/alerts/alerts.examples.conf-defaults.use-case.md
  docs/spec/alerts/alerts.examples.dismiss-on-time.use-case.md
  docs/spec/alerts/alerts.examples.dismiss.use-case.md
  docs/spec/alerts/alerts.examples.dynamic-content.use-case.md
  docs/spec/alerts/alerts.examples.dynamic-html.use-case.md
  docs/spec/alerts/alerts.examples.glob-styling.use-case.md
  docs/spec/alerts/alerts.examples.link-color.use-case.md
Labels: comp(alerts), enhancement, ready for merge

#4679 feat(doc): added docs for modals component
  docs/spec/index.md
  docs/spec/modals/modals.directive-examples.auto-shown-modal.md
  docs/spec/modals/modals.directive-examples.child-modal.use-case.md
  docs/spec/modals/modals.directive-examples.modal-events.use-cases.md
  docs/spec/modals/modals.directive-examples.nested-modals.use-cases.md
  docs/spec/modals/modals.directive-examples.optional-sizes.md
  docs/spec/modals/modals.directive-examples.static-modal.use-cases.md
  docs/spec/modals/modals.service-examples.animation-option.use-case.md
  docs/spec/modals/modals.service-examples.backdrop-options.use-case.md
  docs/spec/modals/modals.service-examples.component.use-case.md
  docs/spec/modals/modals.service-examples.confirm-window.use-case.md
  docs/spec/modals/modals.service-examples.custom-css-class.use-case.md
  docs/spec/modals/modals.service-examples.esc-closing-option.use-case.md
  docs/spec/modals/modals.service-examples.events.use-case.md
  docs/spec/modals/modals.service-examples.nested.use-case.md
  docs/spec/modals/modals.service-examples.scrolling-long-content.use-case.md
  docs/spec/modals/modals.service-examples.template.use-case.md
  docs/spec/modals/modals.service-examples.tooltip-and-popover.use-case.md
Labels: comp(modal), enhancement, ready for merge

#4581 fix(progressbar): toggle striped and animate states
  src/progressbar/progressbar.component.ts
  src/spec/progressbar.component.spec.ts
Labels: comp(progressbar), ready for merge

#4630 feat(collapse): add demo with inline display
  demo/src/app/components/+collapse/collapse-section.list.ts
  demo/src/app/components/+collapse/demos/index.ts
  demo/src/app/components/+collapse/demos/inline-display/inline-display.html
  demo/src/app/components/+collapse/demos/inline-display/inline-display.ts
Labels: comp(collapse), ready for merge

#4672 doc(timepicker): changed description for arrow keys
  demo/src/app/components/+timepicker/demos/arrowkeys/arrowkeys.html
  demo/src/ng-api-doc.ts
  src/timepicker/timepicker.component.ts
  src/timepicker/timepicker.config.ts
Labels: comp(timepicker), ready for merge

#4660 fix(tooltip): flickering when hover the mouse
  src/tooltip/tooltip-container.component.ts
Labels: comp(tooltip), ready for merge

#4620 fix(rating): rating titles change format part way through
  demo/src/ng-api-doc.ts
  src/rating/rating.component.ts
  src/spec/rating.component.spec.ts
Labels: comp(rating), ready for merge

#4658 fix(styles): fix right sidebar on IE and Edge
  demo/src/assets/css/style.scss
Labels: comp(demo), ready for merge

#4695 feat(docs): add use-cases for collapse component
  docs/spec/collapse/collapse.examples.accessibility.use-case.md
  docs/spec/collapse/collapse.examples.basic.use-case.md
  docs/spec/collapse/collapse.examples.events.use-case.md
  docs/spec/collapse/collapse.examples.manual-toggle.use-case.md
  docs/spec/index.md
Labels: comp(collapse), enhancement, needs review

#4686 feat(docs): add use-cases for buttons component
  docs/spec/buttons/buttons.examples.basic.use-case.md
  docs/spec/buttons/buttons.examples.checkbox.use-case.md
  docs/spec/buttons/buttons.examples.custom-checkbox.use-case.md
  docs/spec/buttons/buttons.examples.disabled-buttons.use-case.md
  docs/spec/buttons/buttons.examples.radio.use-case.md
  docs/spec/buttons/buttons.examples.reactive-checkbox.use-case.md
  docs/spec/buttons/buttons.examples.reactive-radio.use-case.md
  docs/spec/buttons/buttons.examples.uncheckable-radio.use-case.md
  docs/spec/index.md
Labels: comp(buttons), enhancement, ready for merge

#4689 feat(docs): add use-cases for carousel component
  docs/spec/carousel/carousel.examples.accessibility.use-case.md
  docs/spec/carousel/carousel.examples.basic.use-case.md
  docs/spec/carousel/carousel.examples.config-defaults.use-case.md
  docs/spec/carousel/carousel.examples.custom-content.use-case.md
  docs/spec/carousel/carousel.examples.disable-indicator.use-case.md
  docs/spec/carousel/carousel.examples.disable-looping.use-case.md
  docs/spec/carousel/carousel.examples.dynamic-slides.use-case.md
  docs/spec/carousel/carousel.examples.interval.use-case.md
  docs/spec/carousel/carousel.examples.optional-captions.use-case.md
  docs/spec/carousel/carousel.examples.pause-on-hover.use-case.md
  docs/spec/carousel/carousel.examples.slide-changed-event.use-case.md
  docs/spec/index.md
Labels: comp(carousel), enhancement, needs review

#4678 feat(schematics): adding schematic for ng-add
  package-lock.json
  package.json
  schematics/.gitignore
  schematics/.npmignore
  schematics/README.md
  schematics/package-lock.json
  schematics/package.json
  schematics/src/collection.json
  schematics/src/ng-add/index.spec.ts
  schematics/src/ng-add/index.ts
  schematics/src/ng-add/schema.json
  schematics/src/ng-add/schema.ts
  schematics/src/utils/index.ts
  schematics/tsconfig.json
  scripts/build-modules.js
  scripts/schematics/build.js
  scripts/test.ts
Labels: needs review, ready for merge

#4677 feat(docs): add POC for use-cases - accordion example
  docs/spec/accordion/accordion.examples.basic.use-case.md
  docs/spec/accordion/accordion.examples.conf-defaults.use-case.md
  docs/spec/accordion/accordion.examples.custom-html.use-case.md
  docs/spec/accordion/accordion.examples.disabled.use-case.md
  docs/spec/accordion/accordion.examples.dynamic-body.use-case.md
  docs/spec/accordion/accordion.examples.dynamic.use-case.md
  docs/spec/accordion/accordion.examples.group-open.use-case.md
  docs/spec/accordion/accordion.examples.initially-opened.use-case.md
  docs/spec/accordion/accordion.examples.manual-toggle.use-case.md
  docs/spec/accordion/accordion.examples.only-one.use-case.md
  docs/spec/accordion/accordion.examples.styling.use-case.md
  docs/spec/accordion/svg/mermaid-basic-usecase.svg
  docs/spec/index.md
  docs/spec/template.use-case.md
Labels: comp(accordion), enhancement, ready for merge

#4697 ci(config): add testing on latest
  .travis.yml
  package-lock.json
  package.json
  schematics/package-lock.json
  schematics/package.json
  scripts/ci/npm-ng-latest.sh
Labels: needs review

#4727 fix(tests): rework offset parameter for correct count day diffs
  src/chronos/moment/diff.ts
Labels: WIP, enhancement, needs review

#4716 fix(latest): config
  .gitignore
  package.json
  schematics/.gitignore
  schematics/.npmignore
  schematics/README.md
  schematics/package.json
  scripts/ci/npm-ng-latest.sh
  src/chronos/utils/type-checks.ts
  src/tsconfig.json
Labels: needs review

#4732 feat(scripts): api-doc add compatibility typescript 3
  scripts/docs/api-doc.js
Labels: needs review

#4715 feat(schematics): add specific commands for each component
  package-lock.json
  schematics/src/collection.json
  schematics/src/ng-add/index.ts
  schematics/src/ng-add/schema.ts
  schematics/src/utils/index.ts
  schematics/src/utils/ng-module-imports.ts
  schematics/src/utils/project-main-file.ts
  schematics/src/utils/project-targets.ts
Labels: needs review, ready for merge

#4684 feat(docs): added use-cases for pagination component
  docs/spec/index.md
  docs/spec/pagination/pagination.examples.basic.use-case.md
  docs/spec/pagination/pagination.examples.boundary-links.use-case.md
  docs/spec/pagination/pagination.examples.centering-active-page-link.md
  docs/spec/pagination/pagination.examples.content-switching.use-case.md
  docs/spec/pagination/pagination.examples.custom-links-content.use-cases.md
  docs/spec/pagination/pagination.examples.direction-links.use-case.md
  docs/spec/pagination/pagination.examples.disabled.use-case.md
  docs/spec/pagination/pagination.examples.limits.use-case.md
  docs/spec/pagination/pagination.examples.manual-switching-page.use-case.md
  docs/spec/pagination/pagination.examples.page-changed-event.use-case.md
  docs/spec/pagination/pagination.examples.pager.use-case.md
  docs/spec/pagination/pagination.examples.pages-count-changed-event.use-case.md
Labels: comp(pagination), enhancement, ready for merge

#4740 feat(docs): add use-cases for popover component
  docs/spec/popover/popover.examples.append-to-body.use-case.md
  docs/spec/popover/popover.examples.basic.use-case.md
  docs/spec/popover/popover.examples.comp-level-styling.use-case.md
  docs/spec/popover/popover.examples.config-defaults.use-case.md
  docs/spec/popover/popover.examples.custom-class.use-case.md
  docs/spec/popover/popover.examples.custom-content-template.use-case.md
  docs/spec/popover/popover.examples.custom-trigger.use-case.md
  docs/spec/popover/popover.examples.dismiss-on-next.use-case.md
  docs/spec/popover/popover.examples.dynamic-content.use-case.md
  docs/spec/popover/popover.examples.dynamic-html.use-case.md
  docs/spec/popover/popover.examples.manual-trigger.use-case.md
  docs/spec/popover/popover.examples.outside-click.use-case.md
  docs/spec/popover/popover.examples.placement.use-case.md
  docs/spec/popover/popover.examples.popover-context.use-case.md
  docs/spec/popover/popover.examples.trigger-by-isopen.use-case.md
  docs/spec/popover/popover.examples.visibility-events.use-case.md
Labels: comp(popover), enhancement, ready for merge

#4744 feat(docs): add use-cases for progressbar component
  docs/spec/index.md
  docs/spec/progressbar/progressbar.examples.config-default.use-case.md
  docs/spec/progressbar/progressbar.examples.dynamic.use-case.md
  docs/spec/progressbar/progressbar.examples.stacked.use-case.md
  docs/spec/progressbar/progressbar.examples.static.use-case.md
Labels: comp(progressbar), enhancement, needs review
