Repository valor-software/ngx-bootstrap, pull requests merged in 2018-02, with the labels that each got.

#3848 docs(typehead): add demo for typeaheadPhraseDelimiters
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/phrase-delimiters/phrase-delimiters.html
  demo/src/app/components/+typeahead/demos/phrase-delimiters/phrase-delimiters.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  demo/src/ng-api-doc.ts
Labels: comp(docs), ready for merge

#3844 docs(popover): fix Append to body demo
  demo/src/assets/css/style.scss
Labels: comp(docs), ready for merge

#3810 docs(popover): add onShown & onHidden output demo
  demo/src/app/components/+popover/demos/events/events.html
  demo/src/app/components/+popover/demos/events/events.ts
  demo/src/app/components/+popover/demos/index.ts
  demo/src/app/components/+popover/popover-section.list.ts
Labels: comp(docs), ready for merge

#3846 docs(typehead): add demo for typeaheadSingleWords
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/single-world/single-world.html
  demo/src/app/components/+typeahead/demos/single-world/single-world.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(docs), ready for merge

#3782 docs(dropdown): add demo for autoClose property
  demo/src/app/components/+dropdown/demos/autoclose/autoclose.html
  demo/src/app/components/+dropdown/demos/autoclose/autoclose.ts
  demo/src/app/components/+dropdown/demos/index.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(docs), ready for merge

#3779 docs(dropdown): add demo for isOpenChange event
  demo/src/app/components/+dropdown/demos/index.ts
  demo/src/app/components/+dropdown/demos/state-change-event/state-change-event.html
  demo/src/app/components/+dropdown/demos/state-change-event/state-change-event.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(docs), ready for merge

#3768 docs(tooltips): add toggle method in Manual triggering demo
  demo/src/app/components/+tooltip/demos/triggers-manual/triggers-manual.html
  demo/src/app/components/+tooltip/tooltip-section.list.ts
Labels: comp(docs), ready for merge

#3765 docs(tooltip): rename demo Four directions to Placement
  demo/src/app/components/+tooltip/demos/four-directions/four-directions.ts
  demo/src/app/components/+tooltip/demos/index.ts
  demo/src/app/components/+tooltip/demos/placement/placement.html
  demo/src/app/components/+tooltip/demos/placement/placement.ts
  demo/src/app/components/+tooltip/tooltip-section.list.ts
Labels: comp(docs), ready for merge

#3741 docs(typehead): add demo for container (append to body) #3737
  demo/src/app/components/+typeahead/demos/container/container.html
  demo/src/app/components/+typeahead/demos/container/container.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(docs), ready for merge

#3733 fix(demo): rename Timepicker demo to Basic
  demo/src/app/components/+timepicker/timepicker-section.list.ts
Labels: comp(docs), ready for merge

#3731 docs(datepicker): add demo for different triggers
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/triggers/triggers.html
  demo/src/app/components/+datepicker/demos/triggers/triggers.ts
Labels: comp(docs), ready for merge

#3730 docs(timepicker): add meridians property demo
  demo/src/app/components/+timepicker/demos/custom-meridian/custom-meridian.html
  demo/src/app/components/+timepicker/demos/custom-meridian/custom-meridian.ts
  demo/src/app/components/+timepicker/demos/index.ts
  demo/src/app/components/+timepicker/timepicker-section.list.ts
Labels: comp(docs), ready for merge

#3793 docs(dropdown): remove from dropup demo - checkbox isDropup
  demo/src/app/components/+dropdown/demos/dropup/dropup.html
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(docs), needs review

#3692 docs(pagination): Add demo for disabled and active states
  demo/src/app/components/+pagination/demos/disabled/disabled.html
  demo/src/app/components/+pagination/demos/disabled/disabled.ts
  demo/src/app/components/+pagination/demos/index.ts
  demo/src/app/components/+pagination/pagination-section.list.ts
Labels: comp(docs), ready for merge

#3689 docs(typehead): add demo for typeaheadOnBlur output #3686
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/on-blur/on-blur.html
  demo/src/app/components/+typeahead/demos/on-blur/on-blur.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(docs), ready for merge

#3687 docs(pagination): rename Default section to Basic and decompose
  demo/src/app/components/+pagination/demos/basic/basic.html
  demo/src/app/components/+pagination/demos/basic/basic.ts
  demo/src/app/components/+pagination/demos/boundary-links/boundary-links.html
  demo/src/app/components/+pagination/demos/boundary-links/boundary-links.ts
  demo/src/app/components/+pagination/demos/custom-links-content/custom-links-content.html
  demo/src/app/components/+pagination/demos/custom-links-content/custom-links-content.ts
  demo/src/app/components/+pagination/demos/direction-links/direction-links.html
  demo/src/app/components/+pagination/demos/direction-links/direction-links.ts
  demo/src/app/components/+pagination/demos/index.ts
  demo/src/app/components/+pagination/demos/manual-switching/manual-switching.html
  demo/src/app/components/+pagination/demos/manual-switching/manual-switching.ts
  demo/src/app/components/+pagination/demos/page-changed-event/page-changed-event.html
  demo/src/app/components/+pagination/demos/page-changed-event/page-changed-event.ts
  demo/src/app/components/+pagination/demos/pages-count-changed/pages-count-changed.html
  demo/src/app/components/+pagination/demos/pages-count-changed/pages-count-changed.ts
  demo/src/app/components/+pagination/pagination-section.list.ts
Labels: comp(docs), ready for merge

#3863 fix(dropdown): fix dropup bs3 position
  src/dropdown/bs-dropdown.directive.ts
Labels: comp(dropdown), ready for merge

#3750 docs(typehead): add demo for using with forms #3748
  demo/src/app/components/+typeahead/demos/form/form.html
  demo/src/app/components/+typeahead/demos/form/form.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/reactive-form/reactive-form.html
  demo/src/app/components/+typeahead/demos/reactive-form/reactive-form.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(docs), needs fix

#3679 docs(carousel): add demo for activeSlideChange
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+carousel/demos/index.ts
  demo/src/app/components/+carousel/demos/slide-changed-event/slide-changed-event.html
  demo/src/app/components/+carousel/demos/slide-changed-event/slide-changed-event.ts
Labels: comp(docs), ready for merge

#3673 docs(datepicker): decompose Basic demo (remove presetting dates for d…
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/basic/basic.html
  demo/src/app/components/+datepicker/demos/basic/basic.ts
  demo/src/app/components/+datepicker/demos/bs-popup/date-picker-popup.ts
  demo/src/app/components/+datepicker/demos/date-initial-state/date-initial-state.html
  demo/src/app/components/+datepicker/demos/date-initial-state/date-initial-state.ts
  demo/src/app/components/+datepicker/demos/index.ts
Labels: comp(docs), ready for merge

#3668 docs(tabs): add demo tabs select event
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/demos/select-event/select-event.html
  demo/src/app/components/+tabs/demos/select-event/select-event.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
Labels: comp(docs), ready for merge

#3693 docs(typehead): add demo for typeaheadNoResults output #3690
  demo/src/app/components/+typeahead/demos/async/async.html
  demo/src/app/components/+typeahead/demos/async/async.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/no-result/no-result.html
  demo/src/app/components/+typeahead/demos/no-result/no-result.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(docs), needs fix

#3671 docs(typehead): add demo for typeaheadLatinize #3666
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/latinize/latinize.html
  demo/src/app/components/+typeahead/demos/latinize/latinize.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(docs), ready for merge

#3658 docs(typehead): rename demo Static array to Basic #3657
  demo/src/app/components/+typeahead/demos/basic/basic.html
  demo/src/app/components/+typeahead/demos/basic/basic.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(typeahead), ready for merge

#3647 docs(datepicker): add demo for isOpen state
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/is-open/is-open.html
  demo/src/app/components/+datepicker/demos/is-open/is-open.ts
Labels: comp(docs), ready for merge

#3641 docs(carousel): add custom content demo
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+carousel/demos/custom-content/custom-content.html
  demo/src/app/components/+carousel/demos/custom-content/custom-content.ts
  demo/src/app/components/+carousel/demos/index.ts
Labels: comp(docs), ready for merge

#3638 docs(datepicker): add demo for outsideClick option
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/outside-click/outside-click.html
  demo/src/app/components/+datepicker/demos/outside-click/outside-click.ts
Labels: comp(docs), ready for merge

#3635 docs(datepicker): add demo for bsConfig
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/config-object/config-object.html
  demo/src/app/components/+datepicker/demos/config-object/config-object.ts
  demo/src/app/components/+datepicker/demos/index.ts
Labels: comp(docs), ready for merge

#3633 docs(accordion): decompose Dynamic accordion and fix e2e tests
  cypress/integration/accordion_page_spec.ts
  cypress/support/accordion.po.ts
  demo/src/app/components/+accordion/accordion-section.list.ts
  demo/src/app/components/+accordion/demos/dymanic/dynamic.html
  demo/src/app/components/+accordion/demos/dymanic/dynamic.ts
  demo/src/app/components/+accordion/demos/dynamic-body/dynamic-body.html
  demo/src/app/components/+accordion/demos/dynamic-body/dynamic-body.ts
  demo/src/app/components/+accordion/demos/index.ts
  demo/src/app/components/+accordion/demos/manual-toggle/manual-toggle.html
  demo/src/app/components/+accordion/demos/manual-toggle/manual-toggle.ts
Labels: comp(demo), ready for merge

#3708 docs(carousel): add demo with noPause function
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+carousel/demos/index.ts
  demo/src/app/components/+carousel/demos/no-pause/no-pause.html
  demo/src/app/components/+carousel/demos/no-pause/no-pause.ts
Labels: comp(docs), needs fix

#3744 docs(typeahead): Fix description for typeaheadsingleWords
  demo/src/ng-api-doc.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(docs)

#3622 fix(alerts): after dismissing alert are not removing from DOM #3608
  cypress/integration/alerts_page_spec.ts
  demo/src/app/components/+alerts/demos/dismiss-on-timeout/dismiss-on-timeout.html
  demo/src/app/components/+alerts/demos/dismiss-on-timeout/dismiss-on-timeout.ts
  demo/src/app/components/+alerts/demos/dismiss/dismiss.html
  demo/src/app/components/+alerts/demos/dismiss/dismiss.ts
  src/alert/alert.component.ts
Labels: comp(alerts), issue, needs fix

#3621 docs(datepicker): add demo for bsValueChange output
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/value-change-event/value-change-event.html
  demo/src/app/components/+datepicker/demos/value-change-event/value-change-event.ts
Labels: comp(demo), ready for merge

#3620 docs(accordion): decompose Disabled demo section
  demo/src/app/components/+accordion/accordion-section.list.ts
  demo/src/app/components/+accordion/demos/disabled/disabled.html
  demo/src/app/components/+accordion/demos/disabled/disabled.ts
  demo/src/app/components/+accordion/demos/index.ts
  demo/src/app/components/+accordion/demos/opened/opened.html
  demo/src/app/components/+accordion/demos/opened/opened.ts
Labels: comp(demo), ready for merge

#3628 docs(datepicker): add hide on scroll demo
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/hide-on-scroll/hide-on-scroll.html
  demo/src/app/components/+datepicker/demos/hide-on-scroll/hide-on-scroll.ts
  demo/src/app/components/+datepicker/demos/index.ts
  src/index.ts
Labels: comp(docs), needs fix

#3880 fix(pagination): fix PageChangeEvent export
  demo/src/app/components/+pagination/demos/content-switching/content-switching.ts
  src/index.ts
  src/pagination/index.ts
Labels: comp(pagination), in progress, needs review
