Repository valor-software/ngx-bootstrap, pull requests merged in 2018-03, with the labels that each got.

#3865 feat(typeahead): Allow typeahead to cancel ongoing requests
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#3618 docs(accordion): decompose Simple accordion
  demo/src/app/components/+accordion/accordion-section.list.ts
  demo/src/app/components/+accordion/demos/basic/basic.html
  demo/src/app/components/+accordion/demos/basic/basic.ts
  demo/src/app/components/+accordion/demos/custom-html/custom-html.html
  demo/src/app/components/+accordion/demos/custom-html/custom-html.ts
  demo/src/app/components/+accordion/demos/index.ts
  demo/src/app/components/+accordion/demos/open-event/open-event.html
  demo/src/app/components/+accordion/demos/open-event/open-event.ts
Labels: comp(demo), ready for merge

#3617 docs(timepicker): add isValid output demo #3612
  demo/src/app/components/+timepicker/demos/index.ts
  demo/src/app/components/+timepicker/demos/isvalid/isvalid.html
  demo/src/app/components/+timepicker/demos/isvalid/isvalid.ts
  demo/src/app/components/+timepicker/timepicker-section.list.ts
Labels: comp(demo), ready for merge

#3613 docs(datepicker): add demo for onHidden/onShown outputs
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/visibility-events/visibility-events.html
  demo/src/app/components/+datepicker/demos/visibility-events/visibility-events.ts
Labels: comp(demo), ready for merge

#3606 docs(datepicker): add demo for Show/Hide/Toggle events
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/visibility-methods/visibility-methods.html
  demo/src/app/components/+datepicker/demos/visibility-methods/visibility-methods.ts
Labels: comp(demo), ready for merge

#3601 docs(tabs): decompose Static tabs demo
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+tabs/demos/basic/basic.html
  demo/src/app/components/+tabs/demos/basic/basic.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
Labels: comp(demo), ready for merge

#3600 fix(demo): fix demo header static position for safari browser
  demo/src/assets/css/style.scss
Labels: comp(demo), ready for merge

#3598 docs(datepicker): demo for supported formats, based on moment.js(1:1) #3590
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.html
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.ts
  demo/src/app/components/+datepicker/demos/custom-format/date-picker-custom-format.html
Labels: comp(demo), ready for merge

#3586 docs(modal): decompose Options demo
  demo/src/app/components/+modal/demos/index.ts
  demo/src/app/components/+modal/demos/service-options/custom-css-class/custom-css-class.html
  demo/src/app/components/+modal/demos/service-options/custom-css-class/custom-css-class.ts
  demo/src/app/components/+modal/demos/service-options/disable-animation/disable-animation.html
  demo/src/app/components/+modal/demos/service-options/disable-animation/disable-animation.ts
  demo/src/app/components/+modal/demos/service-options/disable-backdrop/disable-backdrop.html
  demo/src/app/components/+modal/demos/service-options/disable-backdrop/disable-backdrop.ts
  demo/src/app/components/+modal/demos/service-options/disable-esc-closing/disable-esc-closing.html
  demo/src/app/components/+modal/demos/service-options/disable-esc-closing/disable-esc-closing.ts
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), ready for merge

#3558 docs(tabs): add demo for custom html
  demo/src/app/components/+tabs/demos/custom-template/custom-template.html
  demo/src/app/components/+tabs/demos/custom-template/custom-template.ts
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
Labels: comp(docs), ready for merge

#3910 fix(demo): fix datepicker imports
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
Labels: comp(demo), in progress, needs review

#3816 fix(demo): Fixed routings issue for links with inner html tags.
  demo/src/app/docs/demo-section-components/demo-examples-section/examples.component.ts
Labels: comp(demo), in progress, needs fix

#3786 docs(dropdown): add demo for disabled item inside menu
  demo/src/app/components/+dropdown/demos/disabled-item/disabled-item.html
  demo/src/app/components/+dropdown/demos/disabled-item/disabled-item.ts
  demo/src/app/components/+dropdown/demos/index.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(docs), in progress, needs fix

#3775 docs(dropdown): demo for onHidden/onShown events
  demo/src/app/components/+dropdown/demos/index.ts
  demo/src/app/components/+dropdown/demos/visibility-events/visibility-events.html
  demo/src/app/components/+dropdown/demos/visibility-events/visibility-events.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(docs), in progress, needs fix

#3907 fix(timepicker): remove unnecessary space when showMeridian is false
  src/timepicker/timepicker.component.html
Labels: comp(timepicker), ready for merge

#3582 fix(progressbar): fix stacked progressbar for bs4
  src/progressbar/progressbar.component.ts
Labels: comp(progressbar), needs review

#3611 feat(timepicker): Add ability to set readonly/disabled state #3602
  demo/src/app/components/+timepicker/demos/disabled/disabled.html
  demo/src/app/components/+timepicker/demos/disabled/disabled.ts
  demo/src/app/components/+timepicker/demos/index.ts
  demo/src/app/components/+timepicker/demos/readonly/readonly.html
  demo/src/app/components/+timepicker/demos/readonly/readonly.ts
  demo/src/app/components/+timepicker/timepicker-section.list.ts
  src/spec/timepicker/timepicker-controls.util.spec.ts
  src/spec/timepicker/timepicker.component.spec.ts
  src/spec/timepicker/timepicker.utils.spec.ts
  src/timepicker/reducer/timepicker.reducer.ts
  src/timepicker/timepicker-controls.util.ts
  src/timepicker/timepicker.component.html
  src/timepicker/timepicker.component.ts
  src/timepicker/timepicker.config.ts
  src/timepicker/timepicker.models.ts
  src/timepicker/timepicker.utils.ts
Labels: comp(timepicker), needs review

#3631 docs(datepicker): add demo for setConfig
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/config-method/config-method.html
  demo/src/app/components/+datepicker/demos/config-method/config-method.ts
  demo/src/app/components/+datepicker/demos/index.ts
  src/index.ts
Labels: comp(docs), in progress, needs review

#3661 docs(typehead): add demo for typeaheadWaitMs
  demo/src/app/components/+typeahead/demos/delay/delay.html
  demo/src/app/components/+typeahead/demos/delay/delay.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: in progress

#3912 fix(datepicker): added comma to index file (fix failed build)
  demo/src/app/components/+datepicker/demos/index.ts
Labels: comp(build), comp(datepicker), needs review

#3945 fix(build): lock awesome typescript loader
  package.json
Labels: comp(build), in progress, needs review

#3946 fix(tests): fix test after hard resolving conflicts.
  cypress/integration/buttons_page_spec.ts
  demo/src/ng-api-doc.ts
Labels: comp(demo)

#3948 fix(demo): add null check in preventEmptyHrefNav method
  demo/src/app/docs/demo-section-components/demo-examples-section/examples.component.ts
Labels: comp(demo), in progress, needs review

#3970 fix(test): update @types/webpack
  package.json
Labels: in progress, needs review

#3971 Update aot.md
  docs/getting-started/aot.md
Labels: in progress

#3917 Date format fpr date range input field
  src/datepicker/bs-datepicker.config.ts
Labels: in progress

#3784 fix(tooltip-popover): fix arrow position for bs4
  src/popover/popover-container.component.ts
  src/tooltip/tooltip-container.component.ts
Labels: comp(popover), comp(tooltip), issue, needs review

#3605 fix(modals): fix minimize Safari after press esc
  src/modal/modal-container.component.ts
  src/modal/modal.directive.ts
Labels: comp(modal), in progress, needs review

#3985 fix(build): lock @types/tapable
  package.json
Labels: comp(build), in progress, needs review

#3988 docs(datepicker): add disabling button to Disabled datepicker demo
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/disabled/disabled.component.html
  demo/src/app/components/+datepicker/demos/disabled/disabled.component.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-daterangepicker.component.ts
Labels: comp(datepicker), comp(demo), ready for merge

#3977 docs(collapse): decompose Basic demo
  demo/src/app/components/+collapse/collapse-section.list.ts
  demo/src/app/components/+collapse/demos/basic/basic.html
  demo/src/app/components/+collapse/demos/basic/basic.ts
  demo/src/app/components/+collapse/demos/events/events.html
  demo/src/app/components/+collapse/demos/events/events.ts
  demo/src/app/components/+collapse/demos/index.ts
Labels: comp(collapse), ready for merge

#3695 adding id for tag
  src/datepicker/monthpicker.component.ts
  src/datepicker/yearpicker.component.ts
Labels: comp(datepicker), ready for merge

#4001 docs(datepicker): edit description for Forms datepicker demo
  demo/src/app/components/+datepicker/datepicker-section.list.ts
Labels: comp(datepicker), comp(demo), ready for tests

#4006 docs(datepicker): fix description at placement datepicker demo by changing text's tag
  demo/src/app/components/+datepicker/demos/placement/placement.html
Labels: comp(datepicker), comp(demo), ready for merge

#3976 fix modal event,confirm window,modal event
  demo/src/app/components/+modal/demos/events/events.html
  demo/src/app/components/+modal/demos/events/events.ts
  demo/src/app/components/+modal/demos/service-confirm-window/service-confirm-window.html
  demo/src/app/components/+modal/demos/service-events/service-events.html
  demo/src/app/components/+modal/demos/service-events/service-events.ts
Labels: comp(demo), comp(modal), needs review

#4048 docs(modal): update description for Modal events demo
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), comp(modal), ready for merge

#4046 docs(modal): update description for Custom css class demo
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), comp(modal), ready for merge

#4044 docs(modal): update description for Confirm Window demo
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), comp(modal), ready for merge

#4042 docs(modal): update description for Events demo
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), comp(modal), ready for merge

#4040 docs(modal): update description for Component demo at Service examples section
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), comp(modal), ready for merge

#4038 docs(modal): update description for Service modals examples
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(demo), comp(modal), ready for merge

#4017 docs(dropdown): update description for custom html demo
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(demo), comp(dropdown), ready for merge

#4014 docs(dropdown): update Dropup variation demo's description for precision it
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(demo), comp(dropdown), ready for merge

#4012 docs(dropdown): update Basic demo description for precision it
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(demo), comp(dropdown), ready for merge

#4008 docs(datepicker): fix description at outside click datepicker demo by changing tag
  demo/src/app/components/+datepicker/demos/outside-click/outside-click.html
Labels: comp(datepicker), comp(demo), ready for merge

#3993 feat(accordion): add key navigation to accordion
  demo/src/app/components/+accordion/demos/custom-html/custom-html.html
  src/accordion/accordion-group.component.html
Labels: comp(accordion), ready for merge

#3990 docs(buttons): add keyboard navigation
  demo/src/app/components/+buttons/demos/checkbox-reactiveforms/checkbox-reactiveforms.html
  demo/src/app/components/+buttons/demos/checkbox/checkbox.html
  demo/src/app/components/+buttons/demos/radio-reactiveforms/radio-reactiveforms.html
  demo/src/app/components/+buttons/demos/radio/radio.html
  demo/src/app/components/+buttons/demos/uncheckable-radio/uncheckable-radio.html
  demo/src/assets/json/current-version.json
Labels: comp(buttons), comp(demo), ready for merge

#4059 feat(build): use npm ci, it's faster then yarn
  .gitignore
  .npmrc
  .travis.yml
  package-lock.json
Labels: in progress

#4058 docs(pagination): update description for Limits demo
  demo/src/app/components/+pagination/pagination-section.list.ts
Labels: comp(demo), comp(pagination), ready for merge

#4074 docs(popover): update description for Placement demo
  demo/src/app/components/+popover/popover-section.list.ts
Labels: comp(demo), comp(popover), ready for merge

#4077 docs(popover): update description for Custom content template demo
  demo/src/app/components/+popover/popover-section.list.ts
Labels: comp(demo), comp(popover), ready for merge

#4087 docs(popover): add descriptions for Manual triggering and Trigger by input demos
  demo/src/app/components/+popover/popover-section.list.ts
Labels: comp(demo), comp(popover), ready for merge

#4084 docs(popover): update Custom triggers demo
  demo/src/app/components/+popover/demos/triggers-custom/triggers-custom.html
Labels: comp(demo), comp(popover), ready for merge

#4079 docs(popover): update description for Dynamic Html demo
  demo/src/app/components/+popover/popover-section.list.ts
Labels: comp(demo), comp(popover), ready for merge

#3588 fix(timepicker): fix input data validation for timepicker #3549 #3288
  src/spec/timepicker/timepicker-controls.util.spec.ts
  src/spec/timepicker/timepicker.utils.spec.ts
  src/timepicker/reducer/timepicker.store.ts
Labels: comp(timepicker), in progress, needs review
