Repository valor-software/ngx-bootstrap, pull requests merged in 2018-05, with the labels that each got.

#4113 docs(dropdowns): decompose basic demo
  cypress/support/dropdowns.po.ts
  demo/src/app/components/+dropdown/demos/anchor-trigger/anchor-trigger.html
  demo/src/app/components/+dropdown/demos/anchor-trigger/anchor-trigger.ts
  demo/src/app/components/+dropdown/demos/index.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
Labels: comp(demo), ready for merge

#4107 docs(tooltip): add descriptions for tooltip demo sections
  demo/src/app/components/+tooltip/demos/container/container.html
  demo/src/app/components/+tooltip/tooltip-section.list.ts
Labels: comp(demo), ready for merge

#4064 docs(pagination): move navigation buttons under pager
  demo/src/app/components/+pagination/demos/pager/pager.html
Labels: comp(demo), comp(pagination), ready for merge

#4303 fix(demo): fix api reference for pagination component
  demo/src/ng-api-doc.ts
  src/pagination/pagination.component.ts
Labels: comp(demo), comp(pagination), needs review

#4169 fix(rxjs/operators): use rxjs pipeable operators pattern, remove import path(not used)
  demo/src/app/app.component.ts
  demo/src/app/common/top-menu/top-menu.component.ts
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  demo/src/app/docs/api-docs/analytics/analytics.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/dropdown/bs-dropdown-toggle.directive.ts
  src/dropdown/bs-dropdown.directive.ts
  src/timepicker/timepicker.component.ts
  src/typeahead/typeahead.directive.ts
Labels: needs review

#4323 fix(demo): fix api refenrences for pager component
  demo/src/ng-api-doc.ts
  src/pagination/pager.component.ts
Labels: comp(demo), comp(docs), comp(pagination), needs review

#4324 fix(main): preserve whitespaces globally
  demo/src/main.ts
Labels: needs review

#4326 fix(main): fix whitespaces globally for aot
  demo/src/tsconfig.json
Labels: needs review

#4192 feat(accordion): add key navigation to accordion
  demo/src/app/components/+accordion/demos/custom-html/custom-html.html
  src/accordion/accordion-group.component.html
Labels: BREAKING CHANGE, comp(accordion), comp(demo), needs review

#4354 chore(ci): build && publish && cypress zoo should work
  .travis.yml
  demo/src/assets/json/current-version.json
  package-lock.json
  package.json
Labels: needs review
