Repository valor-software/ngx-bootstrap, pull requests merged in 2018-04, with the labels that each got.

#3780 fix(demo): fix left sidebar is not fully visible on small screens
  demo/src/app/common/sidebar/sidebar.component.html
  demo/src/assets/css/style.scss
Labels: comp(demo), ready for merge

#3871 docs(modal): add demo for modal window with one tooltip and one popover in the body of the modal
  demo/src/app/components/+modal/demo-modal.module.ts
  demo/src/app/components/+modal/demos/index.ts
  demo/src/app/components/+modal/demos/modal-with-popups/modal-with-popups.html
  demo/src/app/components/+modal/demos/modal-with-popups/modal-with-popups.ts
  demo/src/app/components/+modal/modal-section.list.ts
Labels: comp(docs), ready for merge

#3933 docs(getting-started): update readme.md and bootstrap.md files
  README.md
  docs/getting-started/bootstrap.md
  docs/getting-started/bootstrap4.md
Labels: comp(docs), ready for merge

#3937 fix(demo): remove repetition id in demos
  demo/src/app/docs/api-docs/api-doc-class/api-doc-class.component.html
  demo/src/app/docs/api-docs/api-doc-config/api-doc-config.component.html
  demo/src/app/docs/api-docs/api-doc/api-doc.component.html
  demo/src/app/docs/api-docs/sample-box/sample-box.component.html
Labels: comp(demo), ready for merge

#3991 feat(locale): Finnish locale
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/fi.ts
  src/chronos/test/locale/fi.spec.ts
  src/locale.ts
Labels: comp(datepicker), ready for merge

#4026 docs(rating): add key nav demo
  demo/src/app/components/+rating/demos/index.ts
  demo/src/app/components/+rating/demos/select-on-enter/select-on-enter.html
  demo/src/app/components/+rating/demos/select-on-enter/select-on-enter.ts
  demo/src/app/components/+rating/rating-section.list.ts
Labels: comp(demo), ready for merge

#4093 feat(accordion): revert changes for accordion key nav support
  demo/src/app/components/+accordion/demos/custom-html/custom-html.html
  src/accordion/accordion-group.component.html
Labels: comp(accordion), comp(demo), ready for merge

#4102 fix(tooltip): The content(button) extends beyond the tooltip's field in Dynamic Html demo section
  demo/src/app/components/+tooltip/demos/dynamic-html/dynamic-html.ts
Labels: comp(demo), ready for merge

#4103 docs(dropdowns): add aria-attributes
  demo/src/app/components/+dropdown/demos/alignment/menu-alignment.html
  demo/src/app/components/+dropdown/demos/autoclose/autoclose.html
  demo/src/app/components/+dropdown/demos/basic/basic-link.html
  demo/src/app/components/+dropdown/demos/basic/basic.html
  demo/src/app/components/+dropdown/demos/config/config.html
  demo/src/app/components/+dropdown/demos/container/container.html
  demo/src/app/components/+dropdown/demos/custom-html/custom-html.html
  demo/src/app/components/+dropdown/demos/disabled-item/disabled-item.html
  demo/src/app/components/+dropdown/demos/disabled-menu/disabled-menu.html
  demo/src/app/components/+dropdown/demos/dropup/dropup.html
  demo/src/app/components/+dropdown/demos/keyboard/keyboard.html
  demo/src/app/components/+dropdown/demos/menu-dividers/menu-dividers.html
  demo/src/app/components/+dropdown/demos/nested-dropdowns/nested-dropdowns.html
  demo/src/app/components/+dropdown/demos/split/split.html
  demo/src/app/components/+dropdown/demos/state-change-event/state-change-event.html
  demo/src/app/components/+dropdown/demos/triggers-manual/triggers-manual.html
  demo/src/app/components/+dropdown/demos/visibility-events/visibility-events.html
Labels: comp(demo), ready for merge

#3932 feat(demo): add alt attribute in images
  demo/src/app/common/getting-started/getting-started.component.html
  demo/src/app/common/landing/landing.component.html
  demo/src/app/common/top-menu/top-menu.component.html
  demo/src/app/components/+carousel/demos/basic/basic.html
  demo/src/app/components/+carousel/demos/captions/captions.html
  demo/src/app/components/+carousel/demos/config/config.html
  demo/src/app/docs/demo-section/demo-section.component.html
Labels: comp(demo), needs review

#4184 test(demo-accordion): add e2e tests for three new demos
  cypress/integration/demo_pages_spec.ts
  cypress/support/accordion.po.ts
Labels: comp(accordion), comp(demo), needs review

#4175 Fix console error spam while running unit tests
  src/chronos/test/moment/locale.spec.ts
Labels: comp(datepicker), needs review

#4218 fix(demo): fix links at getting started page. Update travis config - allow failed units
  .travis.yml
  demo/src/app/common/getting-started/getting-started.component.html
Labels: comp(demo), in progress

#4220 docs(tooltip): move description for append to body demo to correct place
  demo/src/app/components/+tooltip/tooltip-section.list.ts
Labels: comp(demo), comp(tooltip), needs review

#4201 fix(demo-sidebar): remove list duplicate from sidebar
  demo/src/app/common/sidebar/sidebar.component.html
Labels: comp(demo), in progress, needs review

#4221 feat(modals): dont call hide() func on esc if modal is not shown
  src/modal/modal-container.component.ts
  src/modal/modal.directive.ts
Labels: comp(modal), ready for merge

#4223 fix(modal): close only one directive modal with one esc pressing
  src/modal/modal.directive.ts
Labels: comp(modal), needs review

#4187 chore(docs): Update set bootstrap version guide and docs
  README.md
  demo/src/app/common/getting-started/getting-started.component.html
Labels: comp(docs), ready for tests

#4189 test(demo-alert): add test for dismiss on timeout demo
  cypress/integration/demo_pages_spec.ts
Labels: comp(alerts), comp(demo), ready for tests

#4182 docs(typeahead): update demos description and fix output
  demo/src/app/components/+typeahead/demos/form/form.html
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(demo), comp(typeahead), ready for tests

#4205 feat(datepicker): add Romanian locale to date picker
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/ro.ts
  src/chronos/test/locale/ro.spec.ts
  src/locale.ts
Labels: comp(datepicker), ready for tests

#4133 docs(tabs): update titles and descriptions at demo page
  demo/src/app/components/+tabs/demos/custom-class/custom-class.html
  demo/src/app/components/+tabs/demos/custom-class/custom-class.ts
  demo/src/app/components/+tabs/demos/disabled/disabled.html
  demo/src/app/components/+tabs/demos/disabled/disabled.ts
  demo/src/app/components/+tabs/demos/dynamic/dynamic.html
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/demos/manual-selection/manual-selection.html
  demo/src/app/components/+tabs/demos/manual-selection/manual-selection.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
Labels: comp(demo), comp(tabs)

#4095 docs(collapse): add aria-attributes
  demo/src/app/components/+collapse/demos/basic/basic.html
  demo/src/app/components/+collapse/demos/events/events.html
  demo/src/app/components/+collapse/demos/toggle-manual/toggle-manual.html
Labels: comp(collapse), comp(demo), needs fix

#3981 ref(demo): refactore demo sources
  demo/src/app/app.component.ts
  demo/src/app/app.module.ts
  demo/src/app/common/landing/landing.component.ts
  demo/src/app/common/sidebar/sidebar.component.ts
  demo/src/app/common/top-menu/top-menu.component.ts
  demo/src/app/components/+datepicker/demos/change-locale/change-locale.ts
  demo/src/app/docs/api-docs/analytics/analytics.ts
  demo/src/app/docs/api-docs/api-doc-class/api-doc-class.component.ts
  demo/src/app/docs/api-docs/api-doc-config/api-doc-config.component.ts
  demo/src/app/docs/api-docs/api-doc/api-doc.component.ts
  demo/src/app/theme/style-manager.ts
  demo/src/app/theme/theme-storage.ts
Labels: comp(docs), ready for tests

#4246 feat(locale): Galician locale
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/gl.ts
  src/chronos/test/locale/gl.spec.ts
  src/locale.ts
Labels: needs review

#4142 docs(timepicker): update titles and descriptions for demos
  demo/src/app/components/+timepicker/demos/custom-validation/custom-validation.html
  demo/src/app/components/+timepicker/timepicker-section.list.ts
Labels: comp(demo), comp(timepicker), ready for merge

#4119 docs(datepicker): rename demos with datepicker triggers
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/is-open/is-open.html
  demo/src/app/components/+datepicker/demos/is-open/is-open.ts
  demo/src/app/components/+datepicker/demos/trigger-by-isopen-property/trigger-by-isopen-property.html
  demo/src/app/components/+datepicker/demos/trigger-by-isopen-property/trigger-by-isopen-property.ts
  demo/src/app/components/+datepicker/demos/triggers-custom/triggers-custom.html
  demo/src/app/components/+datepicker/demos/triggers-custom/triggers-custom.ts
  demo/src/app/components/+datepicker/demos/triggers-manual/triggers-manual.html
  demo/src/app/components/+datepicker/demos/triggers-manual/triggers-manual.ts
  demo/src/app/components/+datepicker/demos/triggers/triggers.ts
  demo/src/app/components/+datepicker/demos/visibility-methods/visibility-methods.ts
Labels: comp(datepicker), comp(demo), ready for merge

#4161 feat(locale): Mongolian locale
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/mn.ts
  src/chronos/test/locale/mn.spec.ts
  src/locale.ts
Labels: needs review

#4035 feat(datepicker): Added Slovenian locale support for datepicker
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/sl.ts
  src/chronos/test/locale/sl.spec.ts
  src/locale.ts
Labels: comp(datepicker), needs review

#4082 docs(buttons): add aria-attributes
  demo/src/app/components/+buttons/demos/custom-checkbox-value/custom-checkbox-value.ts
  demo/src/ng-api-doc.ts
  src/buttons/button-checkbox.directive.ts
  src/buttons/button-radio.directive.ts
Labels: comp(buttons), needs fix
