Repository valor-software/ngx-bootstrap, pull requests merged in 2019-05, with the labels that each got.

#5193 fix(carousel): fix multilist carousel order
  src/carousel/carousel.component.ts
Labels: comp(carousel), ready for merge

#5183 feat(popover): add adaptivePosition option
  .travis.yml
  demo/src/app/components/+popover/demos/adaptive-position/adaptive-position.html
  demo/src/app/components/+popover/demos/adaptive-position/adaptive-position.ts
  demo/src/app/components/+popover/demos/index.ts
  demo/src/app/components/+popover/popover-section.list.ts
  demo/src/app/components/+tooltip/demos/index.ts
  demo/src/app/components/+tooltip/tooltip-section.list.ts
  demo/src/app/components/+typeahead/demos/adaptive-position/adaptive-position.html
  demo/src/ng-api-doc.ts
  src/component-loader/component-loader.class.ts
  src/popover/popover.config.ts
  src/popover/popover.directive.ts
  src/positioning/models/index.ts
  src/positioning/modifiers/preventOverflow.ts
  src/positioning/positioning.service.ts
  src/positioning/utils/setAllStyles.ts
  src/tooltip/tooltip.directive.ts
Labels: comp(popover), comp(positioning), comp(tooltip), ready for merge

#5204 feat(tooltip): add adaptivePosition option
  demo/src/app/components/+tooltip/demos/adaptive-position/adaptive-position.html
  demo/src/app/components/+tooltip/demos/adaptive-position/adaptive-position.ts
  demo/src/app/components/+tooltip/demos/index.ts
  demo/src/app/components/+tooltip/tooltip-section.list.ts
  demo/src/ng-api-doc.ts
  src/tooltip/tooltip.config.ts
  src/tooltip/tooltip.directive.ts
Labels: comp(tooltip), ready for merge

#5205 fix(dropdown): fix view destroyed error
  src/dropdown/bs-dropdown-toggle.directive.ts
Labels: comp(dropdown), ready for merge

#5207 feat(doc): add animation module to doc and with ng add, also stackblitz
  demo/src/app/components/+accordion/docs/usage.md
  demo/src/app/components/+collapse/docs/usage.md
  demo/src/app/docs/demo-section-components/demo-examples-section/examples.component.ts
  demo/src/app/docs/demo-section-components/demo-examples-section/stackblitz/app.module.ts
  schematics/src/ng-add/index.ts
Labels: comp(docs), ready for merge

#5212 fix(positioning): fix errors on invalid position
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
  src/dropdown/bs-dropdown.directive.ts
  src/positioning/models/index.ts
  src/positioning/modifiers/flip.ts
  src/positioning/modifiers/initData.ts
  src/positioning/modifiers/preventOverflow.ts
  src/positioning/modifiers/shift.ts
  src/positioning/ng-positioning.ts
  src/positioning/utils/computeAutoPlacement.ts
  src/positioning/utils/index.ts
  src/positioning/utils/setAllStyles.ts
  src/positioning/utils/updateContainerClass.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(positioning), needs review, ready for merge

#5218 fix(tests): add fix for select week test
  cypress/full/datepicker/select_week_spec.ts
Labels: enhancement, needs review

#5221 feat(datepicker): add Vietnam (vi) locale to date picker
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  package-lock.json
  src/chronos/i18n/vi.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/vi.spec.ts
  src/chronos/test/moment/locale.spec.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: comp(datepicker), ready for merge

#5036 Bs datepicker custom classes
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/date-custom-classes/date-custom-classes.html
  demo/src/app/components/+datepicker/demos/date-custom-classes/date-custom-classes.scss
  demo/src/app/components/+datepicker/demos/date-custom-classes/date-custom-classes.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/docs/demo-section-components/demo-examples-section/examples.component.html
  demo/src/app/docs/models/components-examples.model.ts
  demo/src/ng-api-doc.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/datepicker/engine/flag-days-calendar.ts
  src/datepicker/engine/flag-days.calendar.spec.ts
  src/datepicker/models/index.ts
  src/datepicker/public_api.ts
  src/datepicker/reducer/bs-datepicker.actions.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/themes/bs/bs-datepicker-day-decorator.directive.ts
  src/datepicker/themes/bs/bs-datepicker-day-decorator.spec.ts
  src/index.ts
Labels: comp(datepicker), ready for merge

#5241 Fix link to Cypress.io favicon in README
  README.md
Labels: enhancement, ready for merge
