Repository valor-software/ngx-bootstrap, pull requests merged in 2019-01, with the labels that each got.

#4946 feat(tests): add full e2e coverage for Tabs component
  cypress/full/progressbar_page_spec.ts
  cypress/full/tabs_page_spec.ts
  cypress/integration/progressbar_page_spec.ts
  cypress/integration/tabs_page_spec.ts
  cypress/support/tabs.po.ts
Labels: comp(tabs), enhancement, needs review

#5004 fix(script): fix latest script
  scripts/ci/npm-ng-latest.sh
Labels: comp(build), needs review

#4940 fix(common): prevent deprecated also fixed test (datepicker close on esc) for IE11 (souce tests)
  demo/src/app/components/+rating/demos/select-on-enter/select-on-enter.ts
  package-lock.json
  package.json
  src/datepicker/bs-datepicker.spec.ts
  src/typeahead/typeahead.directive.ts
Labels: ready for merge, ready for review

#4996 docs(typeahead): add default value for typeaheadOptionsLimit
  demo/src/ng-api-doc.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(docs), ready for merge

#5007 docs(modals): make workable import link in angular 6/7
  demo/src/app/components/+modal/demos/scrolling-long-content/scrolling-long-content.ts
  demo/src/app/components/+modal/demos/service-confirm-window/service-confirm-window.ts
  demo/src/app/components/+modal/demos/service-nested/service-nested.ts
  demo/src/app/components/+modal/demos/service-options/change-class/change-class.ts
  demo/src/app/components/+modal/demos/service-options/custom-css-class/custom-css-class.ts
  demo/src/app/components/+modal/demos/service-options/disable-animation/disable-animation.ts
  demo/src/app/components/+modal/demos/service-options/disable-backdrop/disable-backdrop.ts
  demo/src/app/components/+modal/demos/service-options/disable-esc-closing/disable-esc-closing.ts
  demo/src/app/components/+modal/demos/service-template/service-template.ts
Labels: comp(docs), comp(modal), ready for merge

#4969 feat(datepicker): add catalan lang
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/ca.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/ca.spec.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: comp(datepicker), ready for merge

#4979 feat(datepicker) : add select week functionality
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/select-dates-from-other-months/select-dates-from-other-months.html
  demo/src/app/components/+datepicker/demos/select-week/select-week.html
  demo/src/app/components/+datepicker/demos/select-week/select-week.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/models/index.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/themes/bs/bs-datepicker-view.html
  src/datepicker/themes/bs/bs-days-calendar-view.component.ts
  src/datepicker/utils/scss/mixins.scss
Labels: comp(datepicker), ready for merge

#4928 feat(tooltip): add delay to config
  demo/src/app/components/+tooltip/demos/config/config.ts
  demo/src/ng-api-doc.ts
  docs/spec/tooltip/tooltip.examples.config-defaults.use-case.md
  src/spec/ng-bootstrap/tooltip.spec.ts
  src/tooltip/tooltip.config.ts
Labels: comp(tooltip), needs review, ready for merge

#5011 fix(tests): use prev safari version while latest doesnt work on sauce
  karma-demo.conf.js
Labels: enhancement, ready for merge

#3956 feat(datepicker): Add directive for inline datepicker
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/basic/basic.html
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/inline-datepicker/inline-datepicker.component.html
  demo/src/app/components/+datepicker/demos/inline-datepicker/inline-datepicker.component.ts
  demo/src/ng-api-doc.ts
  src/component-loader/component-loader.class.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-datepicker-inline.config.ts
  src/datepicker/bs-datepicker.module.ts
  src/datepicker/bs-inline-datepicker.spec.ts
  src/datepicker/public_api.ts
  src/datepicker/themes/bs/bs-datepicker-inline-container.component.ts
  src/index.ts
Labels: comp(datepicker), prio: medium, ready for merge

#4951 feat(tests): add full e2e coverage for DatePicker component
  cypress/full/datepicker/custom_date_format_spec.ts
  cypress/full/datepicker/days_disabled_spec.ts
  cypress/full/datepicker/disabled_spec.ts
  cypress/full/datepicker/hide_on_scroll_spec.ts
  cypress/full/datepicker/initial_state_spec.ts
  cypress/full/datepicker/locales_spec.ts
  cypress/full/datepicker/min_max_spec.ts
  cypress/full/datepicker/min_mode_spec.ts
  cypress/full/datepicker/themes_spec.ts
  cypress/integration/datepicker_page_spec.ts
  cypress/support/base.component.ts
  cypress/support/datepicker.po.ts
  cypress/tsconfig.json
  docs/spec/datepicker/datepicker.examples.basic.use-case.md
  docs/spec/datepicker/datepicker.examples.custom-date-format.use-case.md
  docs/spec/datepicker/datepicker.examples.days-disabled.use-case.md
  docs/spec/datepicker/datepicker.examples.initial-state.use-case.md
  docs/spec/datepicker/datepicker.examples.min-mode.use-case.md
  docs/spec/datepicker/datepicker.examples.themes.use-case.md
  src/datepicker/bs-datepicker.spec.ts
Labels: comp(datepicker), enhancement, needs review

#5003 WIP feat(tests): added cypress tests parallelization
  .travis.yml
  cypress.json
  cypress/full/datepicker/custom_date_format_spec.ts
  package.json
Labels: enhancement, needs review
