Repository valor-software/ngx-bootstrap, pull requests merged in 2019-02, with the labels that each got.

#5026 tests(datepicker): add e2e full coverage for next 5 demos
  cypress/full/datepicker/custom_today_class_spec.ts
  cypress/full/datepicker/forms_spec.ts
  cypress/full/datepicker/manual_trigger_spec.ts
  cypress/full/datepicker/placement_spec.ts
  cypress/full/datepicker/reactive_forms_spec.ts
  cypress/support/base.component.ts
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/demos/triggers-manual/triggers-manual.html
  docs/spec/datepicker/datepicker.examples.custom-today-class.use-case.md
  docs/spec/datepicker/datepicker.examples.min-mode.use-case.md
  docs/spec/datepicker/datepicker.examples.reactive-forms.use-case.md
Labels: comp(datepicker), enhancement, needs review

#5030 docs(guide): added info about Cypress credits
  README.md
  demo/src/app/common/documentation/documentation.component.html
Labels: enhancement, needs review

#5010 test(popover): add additional checks for dynamic html and compLevel s…
  cypress/full/popover_page_spec.ts
  cypress/support/popover.po.ts
Labels: comp(popover), enhancement, ready for merge

#5044 fix(package): decrease ts version in latest ng
  scripts/ci/npm-ng-latest.sh
Labels: enhancement, needs review

#5048 fix(tests): js heap out of memory, datepicker fixes
  cypress/full/datepicker/min_max_spec.ts
  cypress/plugins/cy-ts-preprocessor.js
  cypress/support/datepicker.po.ts
Labels: enhancement, needs review

#5029 tests(datepicker): add e2e tests for the next 5 datepicker Demos
  cypress/full/datepicker/config_method_spec.ts
  cypress/full/datepicker/config_properties_spec.ts
  cypress/full/datepicker/select_dates_from_other_month_spec.ts
  cypress/full/datepicker/value_change_event_spec.ts
  cypress/full/datepicker/visibility_events_spec.ts
  cypress/support/base.component.ts
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/demos/config-method/config-method.html
  docs/spec/datepicker/datepicker.examples.config-method.use-case.md
  docs/spec/datepicker/datepicker.examples.select-dates-from-other-month.use-case.md
  docs/spec/datepicker/datepicker.examples.visibility-events.use-case.md
Labels: comp(datepicker), enhancement, ready for merge

#4871 feat(tests): add full e2e coverage for Tooltip component
  cypress/full/tooltip_page_spec.ts
  cypress/integration/tooltip_page_spec.ts
  cypress/support/tooltip.po.ts
Labels: comp(tooltip), enhancement, ready for merge

#5012 feat(tests): add full e2e coverage for Buttons component
  cypress/full/buttons_page_spec.ts
  cypress/integration/buttons_page_spec.ts
  cypress/support/buttons.po.ts
  demo/src/app/components/+buttons/demos/uncheckable-radio/uncheckable-radio.ts
Labels: comp(buttons), enhancement, needs review

#5037 tests(accordion): add full e2e coverage for accordion component
  cypress/full/accordion_page_spec.ts
  cypress/integration/accordion_page_spec.ts
  cypress/support/accordion.po.ts
  cypress/support/base.component.ts
  demo/src/app/components/+accordion/demos/basic/basic.html
  docs/spec/accordion/accordion.examples.basic.use-case.md
  docs/spec/accordion/accordion.examples.custom-html.use-case.md
  docs/spec/accordion/accordion.examples.group-open.use-case.md
  docs/spec/accordion/accordion.examples.manual-toggle.use-case.md
  package-lock.json
  package.json
Labels: comp(accordion), enhancement, ready for merge

#5043 tests(alerts): add full e2e coverage for Alerts component
  cypress/full/alerts_page_spec.ts
  cypress/integration/alerts_page_spec.ts
  cypress/support/alerts.po.ts
  cypress/support/base.component.ts
Labels: comp(alerts), enhancement, needs review

#4958 chore(build): use os specific path separator in npm run build.watch
  scripts/build-modules.js
Labels: comp(build), ready for merge

#5033 tests(datepicker): add e2e full coverage for the latest 5 datepicker …
  cypress/full/datepicker/custom_triggers_spec.ts
  cypress/full/datepicker/days_disabled_spec.ts
  cypress/full/datepicker/inline_datepicker_spec.ts
  cypress/full/datepicker/outside_click_spec.ts
  cypress/full/datepicker/select_week_spec.ts
  cypress/full/datepicker/trigger_by_isOpen_spec.ts
  cypress/support/base.component.ts
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/demos/trigger-by-isopen-property/trigger-by-isopen-property.html
  docs/spec/datepicker/datepicker.examples.inline-datepicker.use-case.md
  docs/spec/datepicker/datepicker.examples.select-week.use-case.md
  docs/spec/index.md
Labels: comp(datepicker), enhancement, ready for merge

#5046 feat(datepicker): Allow to disable specific dates
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/disable-dates/disable-dates.html
  demo/src/app/components/+datepicker/demos/disable-dates/disable-dates.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/ng-api-doc.ts
  src/chronos/public_api.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/datepicker/engine/flag-days-calendar.ts
  src/datepicker/engine/flag-days.calendar.spec.ts
  src/datepicker/reducer/bs-datepicker.actions.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/utils/bs-calendar-utils.ts
Labels: comp(datepicker), ready for merge

#4991 fix(tabs): adding tab content to DOM just if selected tab (#1422)
  demo/src/app/components/+tabs/demos/dynamic-insert/dynamic-insert.html
  demo/src/app/components/+tabs/demos/dynamic-insert/dynamic-insert.ts
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
  demo/src/ng-api-doc.ts
  src/spec/tabset.component.spec.ts
  src/tabs/tab.directive.ts
  src/tabs/tabset.component.html
  src/tabs/tabset.component.ts
Labels: comp(tabs), ready for merge

#4631 feat(typeahead): add Input Property for selected First item in option list
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/selected-first-item/selected-first-item.html
  demo/src/app/components/+typeahead/demos/selected-first-item/selected-first-item.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  src/spec/typeahead-container.component.spec.ts
  src/spec/typeahead.directive.spec.ts
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.config.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#5027 refactor(positioning): refactor positioning service
  src/component-loader/component-loader.class.ts
  src/popover/popover-container.component.ts
  src/positioning/models/index.ts
  src/positioning/modifiers/arrow.ts
  src/positioning/modifiers/flip.ts
  src/positioning/modifiers/index.ts
  src/positioning/modifiers/initData.ts
  src/positioning/modifiers/preventOverflow.ts
  src/positioning/modifiers/shift.ts
  src/positioning/ng-positioning.ts
  src/positioning/positioning.service.ts
  src/positioning/utils/computeAutoPlacement.ts
  src/positioning/utils/findCommonOffsetParent.ts
  src/positioning/utils/getBordersSize.ts
  src/positioning/utils/getBoundaries.ts
  src/positioning/utils/getBoundingClientRect.ts
  src/positioning/utils/getClientRect.ts
  src/positioning/utils/getFixedPositionOffsetParent.ts
  src/positioning/utils/getOffsetParent.ts
  src/positioning/utils/getOffsetRectRelativeToArbitraryNode.ts
  src/positioning/utils/getOffsets.ts
  src/positioning/utils/getOppositePlacement.ts
  src/positioning/utils/getOppositeVariation.ts
  src/positioning/utils/getOuterSizes.ts
  src/positioning/utils/getParentNode.ts
  src/positioning/utils/getReferenceOffsets.ts
  src/positioning/utils/getRoot.ts
  src/positioning/utils/getScroll.ts
  src/positioning/utils/getScrollParent.ts
  src/positioning/utils/getStyleComputedProperty.ts
  src/positioning/utils/getTargetOffsets.ts
  src/positioning/utils/getViewportOffsetRectRelativeToArtbitraryNode.ts
  src/positioning/utils/getWindowSizes.ts
  src/positioning/utils/includeScroll.ts
  src/positioning/utils/index.ts
  src/positioning/utils/isBrowser.ts
  src/positioning/utils/isFixed.ts
  src/positioning/utils/isIE.ts
  src/positioning/utils/isNumeric.ts
  src/positioning/utils/isOffsetContainer.ts
  src/positioning/utils/setAllStyles.ts
  src/positioning/utils/setStyles.ts
  src/spec/ng-bootstrap/popover.spec.ts
  src/spec/ng-bootstrap/tooltip.spec.ts
  src/tooltip/tooltip-container.component.ts
  src/typeahead/typeahead-container.component.ts
Labels: comp(positioning), ready for merge, ready for review

#5051 Revert "fix(tabs): adding tab content to DOM just if selected tab (#1422)"
  demo/src/app/components/+tabs/demos/dynamic-insert/dynamic-insert.html
  demo/src/app/components/+tabs/demos/dynamic-insert/dynamic-insert.ts
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
  demo/src/ng-api-doc.ts
  src/spec/tabset.component.spec.ts
  src/tabs/tab.directive.ts
  src/tabs/tabset.component.html
  src/tabs/tabset.component.ts
Labels: needs review

#5052 fix(tests): datepicker min-max demo - fix for weeks
  cypress/support/datepicker.po.ts
Labels: comp(datepicker), enhancement, needs review

#5054 fix(positioning): fix on heroku also typeahead
  src/positioning/modifiers/flip.ts
  src/positioning/utils/isIE.ts
Labels: comp(positioning), needs review, ready for merge

#5055 fix(tests): rework tests according to new position service
  cypress/full/datepicker/placement_spec.ts
  cypress/full/popover_page_spec.ts
  cypress/full/tooltip_page_spec.ts
  cypress/support/datepicker.po.ts
  cypress/support/popover.po.ts
  cypress/support/tooltip.po.ts
Labels: enhancement, needs review

#5057 fix(tests): fix sauce tests
  src/positioning/modifiers/flip.ts
  src/positioning/modifiers/initData.ts
  src/positioning/utils/computeAutoPlacement.ts
  src/spec/typeahead.directive.spec.ts
Labels: needs review
