Repository valor-software/ngx-bootstrap, pull requests merged in 2019-06, with the labels that each got.

#5245 feat(build): migrate to angular8
  .travis.yml
  demo/src/app/app.component.ts
  demo/src/app/app.module.ts
  demo/src/app/components/+accordion/accordion-section.list.ts
  demo/src/app/components/+alerts/alerts-section.list.ts
  demo/src/app/components/+buttons/buttons-section.list.ts
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+collapse/collapse-section.list.ts
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/config-method/config-method.ts
  demo/src/app/components/+datepicker/demos/hide-on-scroll/hide-on-scroll.ts
  demo/src/app/components/+dropdown/dropdown-section.list.ts
  demo/src/app/components/+modal/demos/auto-shown/auto-shown.ts
  demo/src/app/components/+modal/demos/child/child.ts
  demo/src/app/components/+modal/demos/events/events.ts
  demo/src/app/components/+modal/modal-section.list.ts
  demo/src/app/components/+pagination/pagination-section.list.ts
  demo/src/app/components/+popover/popover-section.list.ts
  demo/src/app/components/+progressbar/progressbar-section.list.ts
  demo/src/app/components/+rating/rating-section.list.ts
  demo/src/app/components/+sortable/sortable-section.list.ts
  demo/src/app/components/+tabs/demos/disabled/disabled.ts
  demo/src/app/components/+tabs/demos/manual-selection/manual-selection.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
  demo/src/app/components/+timepicker/timepicker-section.list.ts
  demo/src/app/components/+tooltip/tooltip-section.list.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  package-lock.json
  package.json
  schematics/src/ng-add/index.spec.ts
  schematics/src/ng-add/index.ts
  schematics/src/utils/index.ts
  schematics/src/utils/project-main-file.ts
  schematics/src/utils/project-targets.ts
  scripts/ci/npm-ng-latest.sh
  scripts/ci/npm-ng-next.sh
  src/component-loader/component-loader.class.ts
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/bs-inline-datepicker.spec.ts
  src/datepicker/datepicker.component.ts
  src/positioning/positioning.service.ts
  src/spec/bs-dropdown.directive.spec.ts
  src/spec/ng-bootstrap/popover.spec.ts
  src/spec/ng-bootstrap/tooltip.spec.ts
  src/spec/tabset.component.spec.ts
  src/typeahead/typeahead-container.component.ts
Labels: comp(build), enhancement, ready for merge

#5235 Fix/carousel reset time out #5201
  src/carousel/carousel.component.ts
Labels: comp(carousel), ready for merge

#5237 fix: carousel - solved multi list slides no auto play
  src/carousel/carousel.component.ts
Labels: comp(carousel), ready for merge

#5234 feat(carousel): indicators for group of slides
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+carousel/demos/index.ts
  demo/src/app/components/+carousel/demos/multilist-indicators-by-chunk/multilist-indicators-by-chunk.html
  demo/src/app/components/+carousel/demos/multilist-indicators-by-chunk/multilist-indicators-by-chunk.ts
  src/carousel/carousel.component.html
  src/carousel/carousel.component.ts
  src/carousel/carousel.config.ts
Labels: comp(carousel), ready for merge

#5240 feat(typeahead): add animation
  demo/src/app/components/+typeahead/demos/animated/animated.html
  demo/src/app/components/+typeahead/demos/animated/animated.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/docs/usage.md
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  schematics/src/ng-add/index.ts
  src/positioning/positioning.service.ts
  src/spec/typeahead-container.component.spec.ts
  src/spec/typeahead.directive.spec.ts
  src/typeahead/typeahead-animations.ts
  src/typeahead/typeahead-container.component.html
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.config.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#5173 feat(datepicker): add animation
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/animated/animated.html
  demo/src/app/components/+datepicker/demos/animated/animated.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/docs/usage.md
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/bs-daterangepicker.config.ts
  src/datepicker/bs-inline-datepicker.spec.ts
  src/datepicker/datepicker-animations.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-datepicker-inline-container.component.ts
  src/datepicker/themes/bs/bs-datepicker-view.html
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
Labels: comp(datepicker), ready for merge

#5253 fix(positioning): fix a case of looping
  src/positioning/utils/getOffsetParent.ts
Labels: comp(positioning), ready for merge

#5259 fix(common): fix cy logo link in getstarted page
  demo/src/app/common/documentation/documentation.component.html
Labels: enhancement

#5260 feat(common): add compatibility table
  README.md
  demo/src/app/common/documentation/documentation.component.html
  demo/src/assets/css/style.scss
Labels: enhancement

#5263 fix(tests): fix for saucelab unit tests
  karma-demo.conf.js
  package-lock.json
  package.json
  src/chronos/test/moment/start_end_of.spec.ts
  src/spec/bs-dropdown.directive.spec.ts
  src/spec/typeahead-container.component.spec.ts
  src/spec/typeahead.directive.spec.ts
Labels: enhancement

#5268 feat(datepicker): add ivy support
  .travis.yml
  scripts/ci/npm-ci-key.sh
  src/common/public_api.ts
  src/datepicker/bs-datepicker.module.ts
  src/datepicker/public_api.ts
Labels: comp(datepicker), enhancement, ready for merge

#4664 fix(accordion|tabs): fix cursor style when disabled element
  src/accordion/accordion-group.component.html
  src/accordion/accordion-group.component.ts
  src/accordion/accordion.scss
  src/tabs/tabs.scss
  src/tabs/tabset.component.ts
Labels: comp(accordion), comp(tabs), ready for merge

#5199 docs(date-range-picker): Include docs for DateRangepicker custom format
  cypress/full/datepicker/custom_date_format_spec.ts
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.html
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.ts
Labels: comp(datepicker), comp(demo), ready for merge

#5284 feat(tabs): add keyboard navigation
  demo/src/app/components/+tabs/demos/accessibility/accessibility.html
  demo/src/ng-api-doc.ts
  src/tabs/tabset.component.html
  src/tabs/tabset.component.ts
Labels: comp(tabs), ready for merge

#5270 feat(carousel): add an opportunity to use a keyboard for navigation
  cypress/full/carousel_page_spec.ts
  cypress/support/carousel.po.ts
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+carousel/demos/accessibility/accessibility.html
  demo/src/app/components/+carousel/demos/index.ts
  demo/src/app/components/+carousel/demos/no-pause/no-pause.ts
  demo/src/app/components/+carousel/demos/pause-on-focus/pause-on-focus.html
  demo/src/app/components/+carousel/demos/pause-on-focus/pause-on-focus.ts
  demo/src/app/components/+carousel/demos/pause-on-hover/pause-on-hover.html
  demo/src/app/components/+carousel/demos/pause-on-hover/pause-on-hover.ts
  demo/src/ng-api-doc.ts
  package-lock.json
  src/carousel/carousel.component.html
  src/carousel/carousel.component.ts
  src/carousel/carousel.config.ts
Labels: comp(carousel), ready for merge

#5300 fix(stackblitz): add scss style for datepicker custom class demo example
  demo/src/app/components/+datepicker/demos/date-custom-classes/date-custom-classes.ts
  demo/src/app/docs/demo-section-components/demo-examples-section/examples.component.ts
  demo/src/app/docs/demo-section-components/demo-examples-section/stackblitz/helpers.ts
Labels: enhancement

#5285 feat(doc): enable ivy
  .travis.yml
  angular.json
  demo/src/app/common/sidebar/sidebar.component.ts
  demo/src/app/docs/api-docs/api-doc-class/api-doc-class.component.html
  demo/src/app/docs/api-docs/api-doc-config/api-doc-config.component.html
  demo/src/app/docs/api-docs/api-doc/api-doc.component.html
  demo/src/tsconfig-ivy.json
  package.json
  scripts/build-modules.js
  scripts/ivy/compiler-cli-fix.sh
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-datepicker-inline-container.component.ts
  src/spec/ng-bootstrap/popover.spec.ts
  src/spec/ng-bootstrap/tooltip.spec.ts
  src/tsconfig-ivy.spec.json
Labels: comp(build)
