Repository valor-software/ngx-bootstrap, pull requests merged in 2019-10, with the labels that each got.

#5396 feat(chronos): add uk locale resolve #5351
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/public_api.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: comp(datepicker), feat(chronos)

#5393 feat(datepicker): add invalidDate key to croatian locale
  src/chronos/i18n/hr.ts
Labels: comp(datepicker)

#5392 fix(timepicker): fix placeholder full length
  src/timepicker/timepicker.component.ts
Labels: needs review, state: tested

#5314 fix(accordion, datepicker): prevent accidental form submissions
  demo/src/app/components/+accordion/demos/custom-html/custom-html.html
  demo/src/app/components/+datepicker/demos/change-locale/change-locale.html
  demo/src/app/components/+datepicker/demos/color-theming/color-theming.html
  demo/src/app/components/+datepicker/demos/config-method/config-method.html
  demo/src/app/components/+datepicker/demos/custom-format/custom-format.html
  demo/src/app/components/+datepicker/demos/date-initial-state/date-initial-state.html
  demo/src/app/components/+datepicker/demos/disabled/disabled.component.html
  demo/src/app/components/+datepicker/demos/hide-on-scroll/hide-on-scroll.html
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.html
  demo/src/app/components/+datepicker/demos/trigger-by-isopen-property/trigger-by-isopen-property.html
  demo/src/app/components/+datepicker/demos/triggers-manual/triggers-manual.html
  src/accordion/accordion-group.component.html
  src/datepicker/themes/bs/bs-custom-dates-view.component.ts
  src/datepicker/themes/bs/bs-datepicker-navigation-view.component.ts
  src/datepicker/themes/bs/bs-datepicker-view.html
  src/datepicker/themes/bs/bs-timepicker-view.component.ts
Labels: comp(accordion), comp(datepicker)

#5419 fix(travis): fix next stage
  scripts/ci/npm-ng-next.sh
  src/sortable/sortable.component.ts
Labels: comp(build)

#5421 fix(docs): update join slack link
  .github/ISSUE_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  cypress/support/landing.po.ts
  demo/src/app/common/documentation/documentation.component.html
  demo/src/app/common/top-menu/top-menu.component.html
Labels: comp(docs)

#5440 feat(progressbar): create type interface
  src/progressbar/bar.component.ts
  src/progressbar/progressbar-type.interface.ts
  src/progressbar/progressbar.component.ts
  src/progressbar/public_api.ts
Labels: Hacktoberfest, comp(progressbar)

#5441 fix(progressbar): fix type class name binding override
  src/progressbar/bar.component.ts
  src/spec/progressbar.component.spec.ts
Labels: Hacktoberfest, comp(progressbar), needs review

#5436 fix(datepicker): need to update inline datepicker on input change
  src/datepicker/bs-datepicker-inline.component.ts
Labels: Hacktoberfest, comp(datepicker), needs review

#5467 fix(docs): fix various typos
  README.md
  docs/getting-started/bootstrap.md
  docs/spec/accordion/accordion.examples.only-one.use-case.md
  docs/spec/carousel/carousel.examples.basic.use-case.md
  docs/spec/pagination/pagination.examples.centering-active-page-link.md
Labels: comp(docs)

#5457 fix(doc): fix of file name mistake
  docs/spec/tooltip/tooltip.examples.placement.use-case.md
Labels: Hacktoberfest

#5492 Switch to new GitHub multi ISSUE_TEMPLATEs
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report-.md
  .github/ISSUE_TEMPLATE/feature-request-.md
  .github/ISSUE_TEMPLATE/something-else-.md
Labels: Hacktoberfest, comp(docs)

#5483 Fixed broken image link for 'Sauce Labs'
  README.md
Labels: Hacktoberfest

#5525 fix(typeahead): fix typeahead performance on typeaheadMinLength = 0
  schematics/src/ng-add/index.ts
  src/spec/typeahead-container.component.spec.ts
  src/typeahead/typeahead-container.component.html
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead)

#5429 feat(timepicker): add custom placeholder (#3544)
  demo/src/app/components/+timepicker/demos/index.ts
  demo/src/app/components/+timepicker/demos/placeholder/placeholder.html
  demo/src/app/components/+timepicker/demos/placeholder/placeholder.ts
  demo/src/app/components/+timepicker/timepicker-section.list.ts
  demo/src/ng-api-doc.ts
  src/spec/timepicker/timepicker.component.spec.ts
  src/timepicker/timepicker.component.html
  src/timepicker/timepicker.component.ts
  src/timepicker/timepicker.config.ts
Labels: Hacktoberfest, comp(timepicker), needs review

#5459 fix(doc): fix aot.md
  docs/getting-started/aot.md
Labels: Hacktoberfest

#5476 fix(doc): fix typo inside documentation component
  demo/src/app/common/documentation/documentation.component.html
Labels: Hacktoberfest

#5516 feat(doc): update demo rotate button with dynamic behavior
  demo/src/app/components/+pagination/demos/rotate/rotate.html
  demo/src/app/components/+pagination/demos/rotate/rotate.ts
Labels: Hacktoberfest, comp(timepicker), needs review

#5486 fix(doc): fix typo inside CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Hacktoberfest, comp(docs)

#5332 feat(doc): add discover page with who are using ngx
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/common/discover/discover.component.html
  demo/src/app/common/discover/discover.component.scss
  demo/src/app/common/discover/discover.component.ts
  demo/src/app/common/sidebar/sidebar.component.html
Labels: enhancement, needs review

#5432 feat(datepicker): add Latvian locale (#hacktoberfest)
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/lv.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/lv.spec.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: Hacktoberfest, comp(datepicker), needs review

#5431 fix(tooltip): tooltipChange unsubscribe on destroy
  src/tooltip/tooltip.directive.ts
Labels: Hacktoberfest, needs review
