Repository valor-software/ngx-bootstrap, pull requests merged in 2020-07, with the labels that each got.

#5665 feat(build): update to Angular 9.1.0
  .travis.yml
  README.md
  angular.json
  demo/src/app/common/documentation/documentation.component.html
  demo/src/app/docs/demo-section-components/demo-examples-section/examples.component.html
  demo/src/app/docs/demo-section-components/demo-top-section/demo-top-section.component.html
  demo/src/app/docs/models/components-examples.model.ts
  demo/src/app/docs/models/components-top-section.model.ts
  demo/src/app/docs/models/source-code.model.ts
  package-lock.json
  package.json
  src/spec/bs-modal/bs-modal.service.spec.ts
  src/spec/ng-bootstrap/alert.spec.ts
Labels: BREAKING CHANGE, ready for review, ready for tests

#5538 feat(tabs): add possibility to disable key navigations
  demo/src/app/components/+tabs/demos/config/config.ts
  demo/src/app/components/+tabs/demos/disabled-key-navigations/disabled-key-navigations.html
  demo/src/app/components/+tabs/demos/disabled-key-navigations/disabled-key-navigations.ts
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
  demo/src/ng-api-doc.ts
  docs/spec/tabs/tabs.examples.disabled-key-navigations.use-case.md
  src/tabs/tabset.component.ts
  src/tabs/tabset.config.ts
Labels: comp(tabs), needs fix

#5684 feat(datepicker): max date range for daterangepicker (#5562)
  cypress/full/datepicker/max_date_ranges_spec.ts
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/max-date-range/max-date-range.html
  demo/src/app/components/+datepicker/demos/max-date-range/max-date-range.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-daterangepicker-inline.component.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
Labels: comp(datepicker), ready for tests

#5784 feat(typeahead): add feature to do multiple search w/ specified delimiter
  cypress/full/typeahead_page_spec.ts
  cypress/support/typeahead.po.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/multiple-search/multiple-search.html
  demo/src/app/components/+typeahead/demos/multiple-search/multiple-search.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  demo/src/ng-api-doc.ts
  src/spec/typeahead.directive.spec.ts
  src/typeahead/typeahead-utils.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead)

#5321 feat(Modal): available to use 'BsModalRef.setClass' in modal component ngOnInit lifecycle
  src/modal/bs-modal.service.ts
  src/spec/bs-modal/bs-modal.service.spec.ts
Labels: comp(modal), ready for tests

#3776 fix(timepicker): add additional check while changing hours
  demo/src/app/components/+timepicker/demos/min-max/min-max.ts
  src/spec/timepicker/timepicker.component.spec.ts
  src/timepicker/timepicker-controls.util.ts
Labels: comp(timepicker), prio: medium, ready for tests

#4492 fix(datepicker): apply date format appropriately
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
  src/datepicker/bs-daterangepicker.component.ts
Labels: comp(datepicker), needs review

#5425 feat(modal): Expose onHide and onHidden for ModalRef
  demo/src/app/components/+modal/demos/index.ts
  demo/src/app/components/+modal/demos/modal-ref-events/modal-ref-events.html
  demo/src/app/components/+modal/demos/modal-ref-events/modal-ref-events.ts
  demo/src/app/components/+modal/modal-section.list.ts
  src/modal/bs-modal-ref.service.ts
  src/modal/bs-modal.service.ts
Labels: comp(modal), ready for tests

#4724 feature(tabs): Export Tab-Directive as 'tab'
  demo/src/app/components/+tabs/demos/dynamic-content-rendering/dynamic-content-rendering.css
  demo/src/app/components/+tabs/demos/dynamic-content-rendering/dynamic-content-rendering.html
  demo/src/app/components/+tabs/demos/dynamic-content-rendering/dynamic-content-rendering.ts
  demo/src/app/components/+tabs/demos/dynamic-content-rendering/sub-component/sub-component.css
  demo/src/app/components/+tabs/demos/dynamic-content-rendering/sub-component/sub-component.html
  demo/src/app/components/+tabs/demos/dynamic-content-rendering/sub-component/sub-component.ts
  demo/src/app/components/+tabs/demos/index.ts
  demo/src/app/components/+tabs/tabs-section.list.ts
  src/tabs/tab.directive.ts
Labels: comp(tabs), ready for tests

#4974 feature(buttons): radio buttons allow keyboard navigation
  cypress/full/buttons_page_spec.ts
  cypress/support/buttons.po.ts
  demo/src/app/components/+buttons/buttons-section.list.ts
  demo/src/app/components/+buttons/demos/index.ts
  demo/src/app/components/+buttons/demos/radio-reactiveforms/radio-reactiveforms.html
  demo/src/app/components/+buttons/demos/radio-with-group/radio-with-group.html
  demo/src/app/components/+buttons/demos/radio-with-group/radio-with-group.ts
  demo/src/app/components/+buttons/demos/radio/radio.html
  src/buttons/button-radio-group.directive.ts
  src/buttons/button-radio.directive.ts
  src/spec/button.directive.spec.ts
Labels: comp(buttons), ready for review

#5722 feat(popover): improved accessibility
  src/popover/popover-container.component.ts
  src/popover/popover.directive.ts
  src/spec/ng-bootstrap/popover.spec.ts
Labels: comp(popover), ready for tests, type: accessibility

#4254 feat(modal): modal show return id and bsModalRef contain id
  demo/src/app/components/+modal/demos/service-nested/service-nested.html
  demo/src/app/components/+modal/demos/service-nested/service-nested.ts
  demo/src/ng-api-doc.ts
  src/component-loader/component-loader.class.ts
  src/modal/bs-modal-ref.service.ts
  src/modal/bs-modal.service.ts
  src/modal/modal-container.component.ts
  src/modal/modal-options.class.ts
  src/spec/modal.service.spec.ts
Labels: comp(modal), prio: medium

#5871 fix(datepicker): fix css issue when showWeekNumbers=false for daterangepicker
  src/datepicker/bs-datepicker.scss
Labels: comp(datepicker), ready for review, ready for tests

#5882 fix(typeahead): fix accessability arias
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead)
