Repository valor-software/ngx-bootstrap, pull requests merged in 2020-08, with the labels that each got.

#5698 feat(datepicker): add tooltip declaratively for selected dates
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/tooltip-to-selected-dates/tooltip-to-selected-dates.html
  demo/src/app/components/+datepicker/demos/tooltip-to-selected-dates/tooltip-to-selected-dates.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.module.ts
  src/datepicker/engine/flag-days-calendar.ts
  src/datepicker/engine/flag-days.calendar.spec.ts
  src/datepicker/models/index.ts
  src/datepicker/public_api.ts
  src/datepicker/reducer/bs-datepicker.actions.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/themes/bs/bs-days-calendar-view.component.ts
  src/index.ts
Labels: comp(datepicker), comp(tooltip)

#5860 feat(datepicker): add ability to use min mode correctly in daterangepicker
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.html
  demo/src/app/components/+datepicker/demos/min-mode/min-mode.component.ts
  src/datepicker/engine/flag-months-calendar.ts
  src/datepicker/engine/flag-years-calendar.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
Labels: comp(datepicker), ready for review

#5886 Add support for building ngx-bootstrap on Windows
  README.md
  package.json
  scripts/build-modules.js
Labels: comp(build)

#5903 fix(popover): fix safari dismiss popover issue
  src/popover/popover.directive.ts
Labels: comp(popover)

#5901 fix(datepicker): fix Safari macOS hover issue
  src/datepicker/themes/bs/bs-days-calendar-view.component.ts
Labels: comp(datepicker)

#5837 fix: adding clear button for datepicker
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/clear-button/clear-button.html
  demo/src/app/components/+datepicker/demos/clear-button/clear-button.ts
  demo/src/app/components/+datepicker/demos/index.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.scss
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-datepicker-view.html
Labels: need fix: tests

#5910 fix(datepicker): fix padding for additional buttons block
  scripts/ci/npm-ng-next.sh
  src/datepicker/themes/bs/bs-datepicker-view.html
Labels: comp(datepicker)

#5870 refactor(configs): make component configs be tree-shakable
  src/accordion/accordion.config.ts
  src/accordion/accordion.module.ts
  src/alert/alert.config.ts
  src/alert/alert.module.ts
  src/carousel/carousel.config.ts
  src/carousel/carousel.module.ts
  src/datepicker/bs-datepicker-inline.config.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.module.ts
  src/datepicker/bs-daterangepicker-inline.config.ts
  src/datepicker/bs-daterangepicker.config.ts
  src/datepicker/datepicker.config.ts
  src/dropdown/bs-dropdown.config.ts
  src/dropdown/bs-dropdown.module.ts
  src/pagination/pagination.config.ts
  src/pagination/pagination.module.ts
  src/popover/popover.config.ts
  src/popover/popover.module.ts
  src/progressbar/progressbar.config.ts
  src/progressbar/progressbar.module.ts
  src/rating/rating.config.ts
  src/rating/rating.module.ts
  src/tabs/tabs.module.ts
  src/tabs/tabset.config.ts
  src/timepicker/timepicker.config.ts
  src/timepicker/timepicker.module.ts
  src/tooltip/tooltip.config.ts
  src/tooltip/tooltip.module.ts
  src/typeahead/typeahead.config.ts
  src/typeahead/typeahead.module.ts
Labels: 7.0.0, BREAKING CHANGE
