Repository valor-software/ngx-bootstrap, pull requests merged in 2020-01, with the labels that each got.

#5589 fix(typeahead): fix performance issue
  src/typeahead/typeahead-container.component.ts
Labels: comp(typeahead)

#5513 feat(daterangepicker): add ability to show prev and current month instead of current and next one
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/daterangepicker-show-previous-month/show-previous-month.html
  demo/src/app/components/+datepicker/demos/daterangepicker-show-previous-month/show-previous-month.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/ng-api-doc.ts
  docs/getting-started/ng-cli.md
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
Labels: comp(datepicker), in progress

#5590 fix(typeahead): fix issue on scroll
  src/typeahead/typeahead-container.component.ts
Labels: comp(typeahead)

#5532 fix(datepicker): fix manual input accepts invalid date
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
Labels: Hacktoberfest, comp(datepicker), form for swag was sent

#5496 fix(datepicker): Maintain selected date when same date selected (#5209)
  src/datepicker/bs-datepicker.component.ts
Labels: Hacktoberfest, form for swag was sent, needs review

#5592 feat(discover): add / update content on discover page
  demo/src/app/common/discover/discover.component.ts
Labels: comp(docs), ready for review

#5582 feat(popover): add delay option (#5389)
  cypress/full/popover_page_spec.ts
  cypress/support/popover.po.ts
  demo/src/app/components/+popover/demos/config/config.ts
  demo/src/app/components/+popover/demos/delay/delay.html
  demo/src/app/components/+popover/demos/delay/delay.ts
  demo/src/app/components/+popover/demos/index.ts
  demo/src/app/components/+popover/popover-section.list.ts
  demo/src/ng-api-doc.ts
  docs/spec/popover/popover.examples.popover-with-delay.use-case.md
  src/popover/popover.config.ts
  src/popover/popover.directive.ts
Labels: comp(popover), ready for merge

#5556 feat(datepicker) add georgian locale
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/ka.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/ka.spec.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: comp(datepicker), ready for merge

#4235 Update pager.component.html
  src/pagination/pager.component.html
  src/spec/pager.component.spec.ts
Labels: comp(pagination), ready for tests

#5598 fix(datepicker): add check to prevent broken e2e
  src/datepicker/bs-datepicker.component.ts
Labels: prio: high

#5535 fix(timepicker): preserve date part when time crosses midnight
  src/spec/timepicker/timepicker.component.spec.ts
  src/timepicker/timepicker.utils.ts
Labels: Hacktoberfest, comp(timepicker), form for swag was sent, ready for merge

#5085 fix(modal): added import strategy for lazy modules
  src/modal/modal.module.ts
Labels: comp(modal), ready for merge

#5326 fix(modal): change the mouse event to dismiss a modal on backdrop click
  cypress/integration/modals_page_spec.ts
  cypress/support/modals.po.ts
  src/modal/modal-container.component.ts
  src/modal/modal.directive.ts
Labels: comp(modal), ready for tests

#5603 fix(tests):fix e2e tests for the modal demo
  cypress/full/modals_service_page_spec.ts
  cypress/support/modals.po.ts
Labels: ready for review

#4550 fix(modal-service): Fix modal service not dismissing during animation
  src/modal/bs-modal.service.ts
Labels: comp(modal), ready for merge, ready for review

#5470 feat(datepicker): Implement Thai Buddish calendar in Datepicker #3893
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  demo/src/ng-api-doc.ts
  src/chronos/format/format.ts
  src/chronos/i18n/th-be.ts
  src/chronos/locale/locale.class.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/th-be.spec.ts
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: comp(datepicker), ready for merge

#3728 fix(typeahead): incoming data are not filtered after typeahead kicks-in
  demo/src/app/components/+typeahead/demos/async/async.html
  demo/src/app/components/+typeahead/demos/async/async.ts
  src/spec/typeahead.directive.spec.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#5614 fix(tooltip): fix aria attribute state
  src/tooltip/tooltip.directive.ts
Labels: comp(tooltip), ready for merge

#5607 feat(rating): add aria-label attribute and rating config
  demo/src/app/components/+rating/demos/config/config.html
  demo/src/app/components/+rating/demos/config/config.ts
  demo/src/app/components/+rating/demos/index.ts
  demo/src/app/components/+rating/rating-section.list.ts
  demo/src/ng-api-doc.ts
  src/common/public_api.ts
  src/index.ts
  src/rating/public_api.ts
  src/rating/rating.component.html
  src/rating/rating.component.ts
  src/rating/rating.config.ts
  src/rating/rating.module.ts
  src/spec/rating.component.spec.ts
Labels: comp(rating), enhancement, ready for merge

#5618 fix(tests): fix wrong imports
  src/datepicker/bs-datepicker.spec.ts
  src/datepicker/bs-inline-datepicker-minmode-year.spec.ts
  src/datepicker/bs-inline-datepicker.spec.ts
  src/datepicker/bs-inline-daterangepicker.spec.ts
  src/datepicker/datepicker.component.spec.ts
Labels: ready for review

#5616 fix(typeahead): fix broken typeahead property
  src/typeahead/typeahead-container.component.ts
Labels: comp(typeahead), prio: urgent, ready for merge

#5604 feat(timepicker): add aria-label to input
  demo/src/app/components/+timepicker/demos/config/config.ts
  src/timepicker/timepicker.component.html
  src/timepicker/timepicker.component.ts
  src/timepicker/timepicker.config.ts
Labels: comp(timepicker), ready for merge

#5608 fix(rating): fix round up for decimal values (#5076)
  src/rating/rating.component.ts
Labels: comp(rating), ready for merge, ready for review

#5621 fix(tests): fix broken typeahead saucelab test
  src/spec/typeahead.directive.spec.ts
Labels: prio: high

#5163 fix(datepicker): use ng-container to wrap z-w-s and button in month view
  src/datepicker/themes/bs/bs-datepicker-navigation-view.component.ts
Labels: comp(datepicker), ready for merge

#5610 fix(buttons): fix disabled state for radio button
  src/buttons/button-radio-group.directive.ts
  src/spec/button.directive.spec.ts
Labels: comp(buttons), ready for merge

#5632 fix(common): update module path
  demo/src/app/components/+tabs/demos/disabled/disabled.ts
  demo/src/app/components/+tabs/demos/manual-selection/manual-selection.ts
Labels: comp(tabs), ready for review, ready for tests

#5627 fix(dropdown): add z-index for dropdown to not be overrided by modal
  src/dropdown/bs-dropdown-container.component.ts
Labels: comp(dropdown), ready for tests

#5276 feat(modal): ability to add services to modal injector
  src/modal/bs-modal.service.ts
  src/modal/modal-options.class.ts
  src/spec/bs-modal/bs-modal.service.spec.ts
Labels: comp(modal)
