Repository valor-software/ngx-bootstrap, pull requests merged in 2020-02, with the labels that each got.

#5611 feat(daterangepicker): add ability to select week as a daterange
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/select-week-range/select-week-range.html
  demo/src/app/components/+datepicker/demos/select-week-range/select-week-range.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
  src/datepicker/themes/bs/bs-days-calendar-view.component.ts
Labels: comp(datepicker), ready for merge

#5626 fix(collapse): "Collapse" component breaks "Dropdown component #5625
  src/collapse/collapse.directive.ts
Labels: comp(collapse), ready for merge

#5593 fix(typeahead): fix focus after leaving control (#4622)
  demo/src/app/components/+typeahead/demos/cancel-on-focus-lost/cancel-on-focus-lost.html
  demo/src/app/components/+typeahead/demos/cancel-on-focus-lost/cancel-on-focus-lost.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  demo/src/ng-api-doc.ts
  src/typeahead/typeahead.config.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#5649 fix(collapse): remove overflow hidden on show
  src/collapse/collapse.directive.ts
Labels: comp(collapse), issue, needs review, needs: tests

#5651 fix(typeahead): revert filter functionality
  demo/src/app/components/+typeahead/demos/async/async.html
  demo/src/app/components/+typeahead/demos/async/async.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), needs review

#5657 feat(modal): add aria attributes to modal
  demo/src/app/components/+modal/demos/accessibility/accessibility.html
  demo/src/app/components/+modal/demos/accessibility/accessibility.ts
  demo/src/app/components/+modal/modal-section.list.ts
  src/modal/modal-container.component.ts
  src/modal/modal-options.class.ts
Labels: comp(modal), ready for merge, ready for review

#5658 Remove common module [for ng9]
  demo/src/ng-api-doc.ts
  ngcc.config.js
  package.json
  scripts/build-modules.js
  src/common/index.ts
  src/common/package.json
  src/common/public_api.ts
Labels: prio: high, ready for review

#5655 feat(carousel): add animation to carousel
  demo/src/app/components/+carousel/carousel-section.list.ts
  demo/src/app/components/+carousel/demos/animated/animated.html
  demo/src/app/components/+carousel/demos/animated/animated.ts
  demo/src/app/components/+carousel/demos/index.ts
  demo/src/ng-api-doc.ts
  src/carousel/carousel.component.html
  src/carousel/carousel.component.ts
  src/carousel/slide.component.ts
Labels: comp(carousel), ready for merge, ready for review

#5646 feat(typeahead): add sort functionality to typeahead
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/ordering/ordering.html
  demo/src/app/components/+typeahead/demos/ordering/ordering.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  demo/src/ng-api-doc.ts
  src/index.ts
  src/spec/typeahead.directive.spec.ts
  src/typeahead/public_api.ts
  src/typeahead/typeahead-order.class.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), feat-request, ready for merge, ready for review

#5647 fix(typeahead): add typing for typeahead source data
  demo/src/ng-api-doc.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#5641 fix(datepicker): datepicker not closed on Enter click in IE11
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
Labels: comp(datepicker), ready for merge, ready for review

#5663 docs(common): change import message
  cypress/integration/progressbar_page_spec.ts
  demo/src/app/components/+accordion/docs/usage.md
  demo/src/app/components/+alerts/docs/usage.md
  demo/src/app/components/+buttons/docs/usage.md
  demo/src/app/components/+carousel/docs/usage.md
  demo/src/app/components/+collapse/docs/usage.md
  demo/src/app/components/+datepicker/docs/usage.md
  demo/src/app/components/+datepicker/docs/usageOld.md
  demo/src/app/components/+dropdown/docs/usage.md
  demo/src/app/components/+modal/docs/usage.md
  demo/src/app/components/+pagination/docs/usage.md
  demo/src/app/components/+popover/docs/usage.md
  demo/src/app/components/+progressbar/docs/usage.md
  demo/src/app/components/+rating/docs/usage.md
  demo/src/app/components/+sortable/docs/usage.md
  demo/src/app/components/+tabs/docs/usage.md
  demo/src/app/components/+timepicker/docs/usage.md
  demo/src/app/components/+tooltip/docs/usage.md
  demo/src/app/components/+typeahead/docs/usage.md
Labels: comp(docs)

#5633 feat(datepicker): return back focus after selecting date from datepicker
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/return-focus-to-input/return-focus-to-input.component.html
  demo/src/app/components/+datepicker/demos/return-focus-to-input/return-focus-to-input.component.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
  src/datepicker/bs-daterangepicker.component.ts
Labels: comp(datepicker), ready for merge, ready for review, type: accessibility

#5640 fix(typeahead): fix updating model
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge

#5670 fix(local build): fix issue with crashing demo build after changing in source code of components
  demo/src/ng-api-doc.ts
  package-lock.json
  package.json
  scripts/build-modules.js
Labels: WIP

#5637 docs(typeahead): add new demo for async typeahead with http request
  demo/src/app/components/+typeahead/demos/async-http-request/async-http-request.html
  demo/src/app/components/+typeahead/demos/async-http-request/async-http-request.ts
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
Labels: comp(docs), comp(typeahead), ready for merge, ready for review

#5639 feat(daterangepicker): add daysDisabled support for daterangepicker
  .travis.yml
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/disable-days/disable-days.html
  demo/src/app/components/+datepicker/demos/select-week-range/select-week-range.html
  demo/src/app/components/+datepicker/demos/select-week-range/select-week-range.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-daterangepicker-inline.component.ts
  src/datepicker/bs-daterangepicker.component.ts
Labels: comp(datepicker), enhancement, ready for review, ready for tests

#5580 feat(datepicker): add quick select mode to date range picker (#5262)
  cypress/full/datepicker/quick_select_ranges_spec.ts
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/app/components/+datepicker/demos/quick-select-ranges/quick-select-ranges.html
  demo/src/app/components/+datepicker/demos/quick-select-ranges/quick-select-ranges.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.scss
  src/datepicker/bs-daterangepicker-inline.component.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/datepicker/bs-daterangepicker.spec.ts
  src/datepicker/themes/bs/bs-custom-dates-view.component.ts
  src/datepicker/themes/bs/bs-datepicker-view.html
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
  src/datepicker/utils/scss/mixins.scss
Labels: comp(datepicker), feat-request, ready for review, ready for tests

#4751 feat(typeahead): add demo and property for adding optionsListTemplate
  demo/src/app/components/+typeahead/demos/index.ts
  demo/src/app/components/+typeahead/demos/list-template/list-template.html
  demo/src/app/components/+typeahead/demos/list-template/list-template.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  demo/src/app/docs/api-docs/api-doc-config/api-doc-config.component.html
  demo/src/app/docs/api-docs/api-doc-config/api-doc-config.component.ts
  demo/src/app/docs/models/components-api.model.ts
  demo/src/assets/css/style.scss
  demo/src/ng-api-doc.ts
  package-lock.json
  src/index.ts
  src/typeahead/models/index.ts
  src/typeahead/public_api.ts
  src/typeahead/typeahead-container.component.html
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(demo), comp(typeahead), ready for merge, ready for review

#5661 feat(pagination): add custom template functionality
  demo/src/app/components/+pagination/demos/custom-template/custom-template.html
  demo/src/app/components/+pagination/demos/custom-template/custom-template.ts
  demo/src/app/components/+pagination/demos/index.ts
  demo/src/app/components/+pagination/pagination-section.list.ts
  demo/src/ng-api-doc.ts
  src/index.ts
  src/pagination/models/index.ts
  src/pagination/pagination.component.html
  src/pagination/pagination.component.ts
  src/pagination/public_api.ts
  src/spec/ng-bootstrap/popover.spec.ts
  src/spec/ng-bootstrap/test/common.ts
  src/spec/ng-bootstrap/tooltip.spec.ts
  src/spec/pagination.component.spec.ts
Labels: comp(pagination), ready for merge, ready for review

#5551 feat(datepicker) add albanian locale
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/sq.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/sq.spec.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: comp(datepicker), ready for merge

#5645 feat(datepicker): add enabledDates functionality
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/enable-dates/enable-dates.html
  demo/src/app/components/+datepicker/demos/enable-dates/enable-dates.ts
  demo/src/app/components/+datepicker/demos/index.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-daterangepicker-inline.component.ts
  src/datepicker/bs-daterangepicker.component.ts
  src/datepicker/engine/flag-days-calendar.ts
  src/datepicker/engine/flag-days.calendar.spec.ts
  src/datepicker/reducer/bs-datepicker.actions.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/utils/bs-calendar-utils.ts
Labels: comp(datepicker), ready for merge

#5681 fix(datepicker): fix updating values for inline date/daterange pickers
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/disable-dates/disable-dates.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-daterangepicker-inline.component.ts
  src/datepicker/bs-inline-daterangepicker.spec.ts
Labels: comp(datepicker), issue, ready for merge

#5685 feat(locale): add Kazakh locale
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/demo-datepicker.module.ts
  src/chronos/i18n/kk.ts
  src/chronos/public_api.ts
  src/chronos/test/locale/kk.spec.ts
  src/locale.ts
  src/locale/public_api.ts
Labels: locales, ready for merge, ready for review

#5688 fix(accordion, collapse): fix according animation with collapse
  src/collapse/collapse.directive.ts
Labels: comp(accordion), comp(collapse), ready for merge, ready for review

#5629 feat(typeahead): add more cases for on blur logic
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge, ready for review

#5082 fix(datepicker): change isOpen setter flow (#5035)
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-daterangepicker.component.ts
Labels: comp(datepicker), ready for tests

#5548 fix(tooltip): fix tooltip appearing after it has been destroyed
  src/tooltip/tooltip.directive.ts
Labels: comp(tooltip), ready for merge

#5696 fix(ci): update next build dependencies
  .travis.yml
  scripts/build-modules.js
  scripts/ci/npm-ng-next.sh
Labels: ready for review

#5694 feat(popover): Added "corner" pacements: "top right", "right bottom" etc.
  .travis.yml
  demo/src/app/components/+popover/demos/corner-placement/corner-placement.html
  demo/src/app/components/+popover/demos/corner-placement/corner-placement.ts
  demo/src/app/components/+popover/demos/index.ts
  demo/src/app/components/+popover/popover-section.list.ts
  demo/src/ng-api-doc.ts
  src/popover/popover.directive.ts
  src/positioning/modifiers/arrow.ts
  src/positioning/modifiers/initData.ts
  src/positioning/modifiers/shift.ts
Labels: comp(popover), ready for review, ready for tests
