Repository valor-software/ngx-bootstrap, pull requests merged in 2020-03, with the labels that each got.

#5667 feat(datepicker): add ability to show one month for daterangepicker depend on max/min date value
  cypress/support/datepicker.po.ts
  demo/src/app/components/+datepicker/datepicker-section.list.ts
  demo/src/app/components/+datepicker/demos/daterangepicker-display-one-month/display-one-month.html
  demo/src/app/components/+datepicker/demos/daterangepicker-display-one-month/display-one-month.ts
  demo/src/app/components/+datepicker/demos/index.ts
  demo/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
Labels: comp(datepicker), ready for tests

#5547 feat(typeahead): improved accessibility #582
  src/typeahead/typeahead-container.component.html
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.directive.ts
Labels: comp(typeahead), ready for merge, type: accessibility

#5712 fix(ci): update TS version in scripts (fix jobs with latest/next envs)
  scripts/ci/npm-ng-next.sh
Labels: dependency update
