Repository valor-software/ngx-bootstrap, pull requests merged in 2021-12, with the labels that each got.

#6360 feat(documentation): updated use-cases
  docs/spec/buttons/buttons.examples.checkbox.use-case.md
  docs/spec/buttons/buttons.examples.custom-checkbox.use-case.md
  docs/spec/buttons/buttons.examples.disabled-buttons.use-case.md
  docs/spec/buttons/buttons.examples.radio.use-case.md
  docs/spec/buttons/buttons.examples.radio.without-explicit-group.use-case.md
  docs/spec/buttons/buttons.examples.reactive-checkbox.use-case.md
  docs/spec/buttons/buttons.examples.reactive-radio.use-case.md
  docs/spec/buttons/buttons.examples.uncheckable-radio.use-case.md
  docs/spec/datepicker/datepicker.example.with-animation.use-case.md
  docs/spec/datepicker/datepicker.examples.basic.use-case.md
Labels: comp(docs)

#6352 fix(popover): added a space between containerClass and checkMarginNecessity
  src/popover/popover-container.component.ts
Labels: comp(popover), ready for tests, ready for review

#6316 fix(popover) Fix popover (and tooltip) positioning
  src/positioning/modifiers/preventOverflow.ts
  src/positioning/testing/computeAutoPlacement.spec.ts
  src/positioning/testing/preventOverflow.spec.ts
  src/positioning/utils/computeAutoPlacement.ts
Labels: ready for tests, comp(positioning), ready for review
