Repository valor-software/ngx-bootstrap, pull requests merged in 2021-02, with the labels that each got.

#5521 perf(datepicker): Fix Datepicker Memory Leaks
  src/datepicker/bs-datepicker-input.directive.ts
  src/datepicker/bs-daterangepicker-input.directive.ts
Labels: comp(datepicker), ready for tests

#5509 feat(modal): interception of closure for modal
  cypress/full/modals_service_page_spec.ts
  cypress/support/modals.po.ts
  demo/src/app/components/+modal/demo-modal.module.ts
  demo/src/app/components/+modal/demos/index.ts
  demo/src/app/components/+modal/demos/service-interceptor/service-interceptor.html
  demo/src/app/components/+modal/demos/service-interceptor/service-interceptor.ts
  demo/src/app/components/+modal/modal-section.list.ts
  demo/src/assets/json/current-version.json
  demo/src/ng-api-doc.ts
  src/modal/modal-container.component.ts
  src/modal/modal-options.class.ts
  src/modal/modal.directive.ts
  src/modal/models/index.ts
  src/modal/public_api.ts
Labels: comp(modal), needs review

#4612 feat(typeahead) implement a typeaheadOnPreview EventEmitter
  demo/src/app/components/+typeahead/demos/on-select/on-select.html
  demo/src/app/components/+typeahead/demos/on-select/on-select.ts
  demo/src/app/components/+typeahead/typeahead-section.list.ts
  demo/src/ng-api-doc.ts
  package-lock.json
  src/spec/typeahead-container.component.spec.ts
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.directive.ts
Labels: 7.0.0, comp(typeahead), ready for tests
