Repository valor-software/ngx-bootstrap, pull requests merged in 2021-04, with the labels that each got.

#5634 feat(focus-trap): add focus trap module
  _root/scripts/build-modules.js
  angular.json
  apps/ngx-bootstrap-docs/src/app/common/discover/discover.component.ts
  nx.json
  package-lock.json
  src/focus-trap/.eslintrc.json
  src/focus-trap/README.md
  src/focus-trap/boolean-property.ts
  src/focus-trap/configurable-focus-trap-config.ts
  src/focus-trap/configurable-focus-trap-factory.ts
  src/focus-trap/configurable-focus-trap.ts
  src/focus-trap/event-listener-inert-strategy.ts
  src/focus-trap/focus-trap-inert-strategy.ts
  src/focus-trap/focus-trap-manager.ts
  src/focus-trap/focus-trap.module.ts
  src/focus-trap/focus-trap.ts
  src/focus-trap/index.ts
  src/focus-trap/interactivity-checker.ts
  src/focus-trap/jest.config.js
  src/focus-trap/ng-package.json
  src/focus-trap/package.json
  src/focus-trap/platform.ts
  src/focus-trap/polyfill.ts
  src/focus-trap/public_api.ts
  src/focus-trap/testing/test-setup.ts
  src/focus-trap/tsconfig.json
  src/focus-trap/tsconfig.lib.json
  src/focus-trap/tsconfig.lib.prod.json
  src/focus-trap/tsconfig.spec.json
  src/modal/modal-container.component.ts
  src/modal/modal.module.ts
Labels: 7.0.0, BREAKING CHANGE, ready for review

#6033 fix(datepicker): add maxDate value handling in maxDateRanges logic
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/datepicker-section.list.ts
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/demos/max-date-range/max-date-range.html
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/demos/max-date-range/max-date-range.ts
  src/datepicker/reducer/_defaults.ts
  src/datepicker/testing/bs-daterangepicker.spec.ts
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
Labels: comp(datepicker)

#6058 feat(datepicker): add param to prevent change to next month after first date pick in right calendar
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/datepicker-section.list.ts
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/demos/index.ts
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/demos/prevent-change-to-next-month/prevent-change-to-next-month.component.html
  apps/ngx-bootstrap-docs/src/app/components/+datepicker/demos/prevent-change-to-next-month/prevent-change-to-next-month.component.ts
  apps/ngx-bootstrap-docs/src/ng-api-doc.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/testing/bs-datepicker.reducer.spec.ts
  src/datepicker/testing/bs-daterangepicker.spec.ts
  src/datepicker/testing/flaggedMonthsMock.ts
Labels: comp(datepicker), needs fix
