Repository valor-software/ngx-bootstrap, pull requests merged in 2021-09, with the labels that each got.

#6297 fix(aria-expanded): fixed unnecessary aria-expanded
  apps/ngx-bootstrap-docs-e2e/src/support/collapse.po.ts
  src/collapse/collapse.directive.ts
  src/collapse/testing/collapse.directive.spec.ts
Labels: comp(collapse)

#6298 fix(dropdown): fixed dropdown right align for bs5
  src/dropdown/bs-dropdown-container.component.ts
  src/dropdown/bs-dropdown.directive.ts
  tsconfig.base.json
Labels: comp(dropdown)

#6303 fix(datepicker): fix wrong value for SV and NL locales in daterangepicker
  src/datepicker/bs-daterangepicker-input.directive.ts
Labels: comp(datepicker), ready for review

#6294 fix(timepicker): fixed reset validation for ngModel
  src/timepicker/timepicker.component.ts
Labels: comp(timepicker)

#6290 fix(datepicker): fix enabledDates/disabledDates property not working in min-mode
  src/datepicker/engine/flag-months-calendar.ts
  src/datepicker/engine/flag-years-calendar.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/utils/bs-calendar-utils.ts
Labels: comp(datepicker)

#6295 fix(typeahead): fixed onblur event
  apps/ngx-bootstrap-docs/src/ng-api-doc.ts
  libs/doc-pages/typeahead/src/lib/demos/on-blur/on-blur.ts
  libs/doc-pages/typeahead/src/lib/demos/on-select/on-select.html
  src/typeahead/typeahead-container.component.ts
  src/typeahead/typeahead.config.ts
  src/typeahead/typeahead.directive.ts
  tsconfig.base.json
Labels: comp(typeahead)

#6292 fix(modals): fixed modals documentation with adding typo ModalOptions
  libs/doc-pages/modal/src/lib/demos/service-component/service-component.ts
  tsconfig.base.json
Labels: comp(modal)

#4156 feat(dropdown): add arrow key navigation for dropdown list
  apps/ngx-bootstrap-docs/src/ng-api-doc.ts
  src/dropdown/bs-dropdown-toggle.directive.ts
  src/dropdown/bs-dropdown.config.ts
  src/dropdown/bs-dropdown.directive.ts
  src/dropdown/bs-dropdown.state.ts
Labels: comp(dropdown)

#6275 feat(datepicker): add timepicker support
  apps/ngx-bootstrap-docs/src/ng-api-doc.ts
  libs/doc-pages/datepicker/src/lib/datepicker-section.list.ts
  libs/doc-pages/datepicker/src/lib/demos/index.ts
  libs/doc-pages/datepicker/src/lib/demos/with-timepicker/with-timepicker.html
  libs/doc-pages/datepicker/src/lib/demos/with-timepicker/with-timepicker.ts
  src/datepicker/base/bs-datepicker-container.ts
  src/datepicker/bs-datepicker-inline.component.ts
  src/datepicker/bs-datepicker.component.ts
  src/datepicker/bs-datepicker.config.ts
  src/datepicker/bs-datepicker.module.ts
  src/datepicker/bs-datepicker.scss
  src/datepicker/reducer/bs-datepicker.actions.ts
  src/datepicker/reducer/bs-datepicker.effects.ts
  src/datepicker/reducer/bs-datepicker.reducer.ts
  src/datepicker/reducer/bs-datepicker.state.ts
  src/datepicker/testing/bs-datepicker-utils.spec.ts
  src/datepicker/testing/bs-datepicker.reducer.spec.ts
  src/datepicker/testing/bs-datepicker.spec.ts
  src/datepicker/testing/bs-daterangepicker.spec.ts
  src/datepicker/themes/bs/bs-datepicker-container.component.ts
  src/datepicker/themes/bs/bs-datepicker-view.html
  src/datepicker/themes/bs/bs-daterangepicker-container.component.ts
  src/datepicker/utils/copy-time-utils.ts
Labels: comp(datepicker)
